In [1]:
import numpy as np
import pandas as pd

## Load Data

In [2]:
file = "C:/Users/marku/Documents/Programmering/Credit_Risk_Predictor/2019_public_lar_three_year_csv.csv"

condition = lambda x: x == 1
condition2 = lambda x: x == 2

df_1 = pd.read_csv(file, converters={'loan_purpose': condition, 'business_or_commercial_purpose': condition2}, nrows=2000000, low_memory=False)

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 99 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   activity_year                             int64
 1   lei                                       object
 2   derived_msa_md                            object
 3   state_code                                object
 4   county_code                               float64
 5   census_tract                              float64
 6   conforming_loan_limit                     object
 7   derived_loan_product_type                 object
 8   derived_dwelling_category                 object
 9   derived_ethnicity                         object
 10  derived_race                              object
 11  derived_sex                               object
 12  action_taken                              int64
 13  purchaser_type                            int64
 14  preapproval                               int64
 15  loan_type                                 int64
 16  loan_purpose                              bool
 17  lien_status                               int64
 18  reverse_mortgage                          int64
 19  open_end_line_of_credit                   int64
 20  business_or_commercial_purpose            bool
 21  loan_amount                               int64
 22  combined_loan_to_value_ratio              object
 23  interest_rate                             object
 24  rate_spread                               object
 25  hoepa_status                              int64
 26  total_loan_costs                          object
 27  total_points_and_fees                     object
 28  origination_charges                       object
 29  discount_points                           object
 30  lender_credits                            object
 31  loan_term                                 object
 32  prepayment_penalty_term                   object
 33  intro_rate_period                         object
 34  negative_amortization                     int64
 35  interest_only_payment                     int64
 36  balloon_payment                           int64
 37  other_nonamortizing_features              int64
 38  property_value                            object
 39  construction_method                       int64
 40  occupancy_type                            int64
 41  manufactured_home_secured_property_type   int64
 42  manufactured_home_land_property_interest  int64
 43  total_units                               object
 44  multifamily_affordable_units              object
 45  income                                    float64
 46  debt_to_income_ratio                      object
 47  applicant_credit_score_type               int64
 48  co_applicant_credit_score_type            int64
 49  applicant_ethnicity_1                     float64
 50  applicant_ethnicity_2                     float64
 51  applicant_ethnicity_3                     float64
 52  applicant_ethnicity_4                     float64
 53  applicant_ethnicity_5                     float64
 54  co_applicant_ethnicity_1                  float64
 55  co_applicant_ethnicity_2                  float64
 56  co_applicant_ethnicity_3                  float64
 57  co_applicant_ethnicity_4                  float64
 58  co_applicant_ethnicity_5                  float64
 59  applicant_ethnicity_observed              int64
 60  co_applicant_ethnicity_observed           int64
 61  applicant_race_1                          float64
 62  applicant_race_2                          float64
 63  applicant_race_3                          float64
 64  applicant_race_4                          float64
 65  applicant_race_5                          float64
 66  co_applicant_race_1                       float64
 67  co_applicant_race_2                       float64
 68  co_applicant_race_3                       float64
 69  co_applicant_race_4                       float64
 70  co_applicant_race_5                       float64
 71  applicant_race_observed                   int64
 72  co_applicant_race_observed                int64
 73  applicant_sex                             int64
 74  co_applicant_sex                          int64
 75  applicant_sex_observed                    int64
 76  co_applicant_sex_observed                 int64
 77  applicant_age                             object
 78  co_applicant_age                          object
 79  applicant_age_above_62                    object
 80  co_applicant_age_above_62                 object
 81  submission_of_application                 int64
 82  initially_payable_to_institution          int64
 83  aus_1                                     int64
 84  aus_2                                     float64
 85  aus_3                                     float64
 86  aus_4                                     float64
 87  aus_5                                     float64
 88  denial_reason_1                           int64
 89  denial_reason_2                           float64
 90  denial_reason_3                           float64
 91  denial_reason_4                           float64
 92  tract_population                          int64
 93  tract_minority_population_percent         float64
 94  ffiec_msa_md_median_family_income         int64
 95  tract_to_msa_income_percentage            float64
 96  tract_owner_occupied_units                int64
 97  tract_one_to_four_family_homes            int64
 98  tract_median_age_of_housing_units         int64
dtypes: bool(2), float64(32), int64(37), object(28)
memory usage: 1.4+ GB

## Dropping any non-prioritized data fields

In [4]:
# Columns to keep based on articles. 'loan_purpose' not included since it is already filtered

columns_to_keep = ['loan_type', 'loan_amount', 'action_taken', 'occupancy_type', 'census_tract', 'applicant_ethnicity_1', 
                   'co_applicant_ethnicity_1', 'applicant_race_1', 'co_applicant_race_1', 
                   'applicant_sex', 'co_applicant_sex', 'applicant_age', 'co_applicant_age', 'income', 'lien_status', 
                   'applicant_credit_score_type', 'co_applicant_credit_score_type', 'origination_charges', 
                   'discount_points', 'lender_credits', 'interest_rate', 'debt_to_income_ratio', 'combined_loan_to_value_ratio', 
                   'loan_term', 'property_value', 'manufactured_home_secured_property_type', 'total_units', 'aus_1', 'reverse_mortgage', 
                   'open_end_line_of_credit', 'manufactured_home_land_property_interest', 'total_loan_costs', 
                   'negative_amortization', 'interest_only_payment', 'balloon_payment', 
                   'other_nonamortizing_features']

In [5]:
# new variable with filtered columns

df_processed = df_1[columns_to_keep]

In [6]:
df_processed.describe()

,loan_type,loan_amount,action_taken,occupancy_type,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,co_applicant_race_1,applicant_sex,...,co_applicant_credit_score_type,manufactured_home_secured_property_type,aus_1,reverse_mortgage,open_end_line_of_credit,manufactured_home_land_property_interest,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features
count,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,1.982885e+06,1.997745e+06,1.999209e+06,1.999247e+06,1.999738e+06,2.000000e+06,...,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06,2.000000e+06
mean,1.280945e+00,2.993201e+05,2.874766e+00,1.139221e+00,2.673743e+10,2.319542e+00,3.759086e+00,5.236184e+00,6.758999e+00,1.691787e+00,...,2.975824e+01,2.469187e+01,2.562401e+01,2.377732e+01,2.375421e+01,2.667540e+01,2.381273e+01,2.376366e+01,2.377962e+01,2.381016e+01
std,6.316669e-01,9.256290e+05,2.089695e+00,4.761036e-01,1.642644e+10,1.174539e+00,1.497669e+00,2.316628e+00,2.084239e+00,9.348696e-01,...,1.508854e+02,1.535820e+02,1.538903e+02,1.538731e+02,1.540044e+02,1.534615e+02,1.539959e+02,1.540030e+02,1.540007e+02,1.539963e+02
min,1.000000e+00,5.000000e+03,1.000000e+00,1.000000e+00,1.001020e+09,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,1.450000e+05,1.000000e+00,1.000000e+00,1.205701e+10,2.000000e+00,2.000000e+00,5.000000e+00,5.000000e+00,1.000000e+00,...,9.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
50%,1.000000e+00,2.250000e+05,2.000000e+00,1.000000e+00,2.609371e+10,2.000000e+00,5.000000e+00,5.000000e+00,8.000000e+00,1.000000e+00,...,9.000000e+00,3.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
75%,1.000000e+00,3.550000e+05,5.000000e+00,1.000000e+00,4.200103e+10,2.000000e+00,5.000000e+00,5.000000e+00,8.000000e+00,2.000000e+00,...,1.000000e+01,3.000000e+00,6.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
max,4.000000e+00,8.998050e+08,8.000000e+00,3.000000e+00,7.215375e+10,1.400000e+01,1.400000e+01,4.400000e+01,4.400000e+01,6.000000e+00,...,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03,1.111000e+03

In [7]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 36 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   loan_type                                 int64
 1   loan_amount                               int64
 2   action_taken                              int64
 3   occupancy_type                            int64
 4   census_tract                              float64
 5   applicant_ethnicity_1                     float64
 6   co_applicant_ethnicity_1                  float64
 7   applicant_race_1                          float64
 8   co_applicant_race_1                       float64
 9   applicant_sex                             int64
 10  co_applicant_sex                          int64
 11  applicant_age                             object
 12  co_applicant_age                          object
 13  income                                    float64
 14  lien_status                               int64
 15  applicant_credit_score_type               int64
 16  co_applicant_credit_score_type            int64
 17  origination_charges                       object
 18  discount_points                           object
 19  lender_credits                            object
 20  interest_rate                             object
 21  debt_to_income_ratio                      object
 22  combined_loan_to_value_ratio              object
 23  loan_term                                 object
 24  property_value                            object
 25  manufactured_home_secured_property_type   int64
 26  total_units                               object
 27  aus_1                                     int64
 28  reverse_mortgage                          int64
 29  open_end_line_of_credit                   int64
 30  manufactured_home_land_property_interest  int64
 31  total_loan_costs                          object
 32  negative_amortization                     int64
 33  interest_only_payment                     int64
 34  balloon_payment                           int64
 35  other_nonamortizing_features              int64
dtypes: float64(6), int64(18), object(12)
memory usage: 549.3+ MB

## drop all na

In [10]:
df_processed.isna().sum()

loan_type                                         0
loan_amount                                       0
action_taken                                      0
occupancy_type                                    0
census_tract                                  17115
applicant_ethnicity_1                          2255
co_applicant_ethnicity_1                        791
applicant_race_1                                753
co_applicant_race_1                             262
applicant_sex                                     0
co_applicant_sex                                  0
applicant_age                                     0
co_applicant_age                                  0
income                                       202296
lien_status                                       0
applicant_credit_score_type                       0
co_applicant_credit_score_type                    0
origination_charges                          642865
discount_points                             1494732
lender_credits                              1494230
interest_rate                                508223
debt_to_income_ratio                         826706
combined_loan_to_value_ratio                 811260
loan_term                                      8364
property_value                               365266
manufactured_home_secured_property_type           0
total_units                                       0
aus_1                                             0
reverse_mortgage                                  0
open_end_line_of_credit                           0
manufactured_home_land_property_interest          0
total_loan_costs                             661110
negative_amortization                             0
interest_only_payment                             0
balloon_payment                                   0
other_nonamortizing_features                      0
dtype: int64

In [11]:
columns_to_drop = ['discount_points', 'lender_credits']

In [12]:
df_processed = df_processed.drop(columns = columns_to_drop)

In [13]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 34 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   loan_type                                 int64
 1   loan_amount                               int64
 2   action_taken                              int64
 3   occupancy_type                            int64
 4   census_tract                              float64
 5   applicant_ethnicity_1                     float64
 6   co_applicant_ethnicity_1                  float64
 7   applicant_race_1                          float64
 8   co_applicant_race_1                       float64
 9   applicant_sex                             int64
 10  co_applicant_sex                          int64
 11  applicant_age                             object
 12  co_applicant_age                          object
 13  income                                    float64
 14  lien_status                               int64
 15  applicant_credit_score_type               int64
 16  co_applicant_credit_score_type            int64
 17  origination_charges                       object
 18  interest_rate                             object
 19  debt_to_income_ratio                      object
 20  combined_loan_to_value_ratio              object
 21  loan_term                                 object
 22  property_value                            object
 23  manufactured_home_secured_property_type   int64
 24  total_units                               object
 25  aus_1                                     int64
 26  reverse_mortgage                          int64
 27  open_end_line_of_credit                   int64
 28  manufactured_home_land_property_interest  int64
 29  total_loan_costs                          object
 30  negative_amortization                     int64
 31  interest_only_payment                     int64
 32  balloon_payment                           int64
 33  other_nonamortizing_features              int64
dtypes: float64(6), int64(18), object(10)
memory usage: 518.8+ MB

In [15]:
df_processed= df_processed.dropna()

In [18]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 804666 entries, 7 to 1999997
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   loan_type                                 804666 non-null  int64
 1   loan_amount                               804666 non-null  int64
 2   action_taken                              804666 non-null  int64
 3   occupancy_type                            804666 non-null  int64
 4   census_tract                              804666 non-null  float64
 5   applicant_ethnicity_1                     804666 non-null  float64
 6   co_applicant_ethnicity_1                  804666 non-null  float64
 7   applicant_race_1                          804666 non-null  float64
 8   co_applicant_race_1                       804666 non-null  float64
 9   applicant_sex                             804666 non-null  int64
 10  co_applicant_sex                          804666 non-null  int64
 11  applicant_age                             804666 non-null  object
 12  co_applicant_age                          804666 non-null  object
 13  income                                    804666 non-null  float64
 14  lien_status                               804666 non-null  int64
 15  applicant_credit_score_type               804666 non-null  int64
 16  co_applicant_credit_score_type            804666 non-null  int64
 17  origination_charges                       804666 non-null  object
 18  interest_rate                             804666 non-null  object
 19  debt_to_income_ratio                      804666 non-null  object
 20  combined_loan_to_value_ratio              804666 non-null  object
 21  loan_term                                 804666 non-null  object
 22  property_value                            804666 non-null  object
 23  manufactured_home_secured_property_type   804666 non-null  int64
 24  total_units                               804666 non-null  object
 25  aus_1                                     804666 non-null  int64
 26  reverse_mortgage                          804666 non-null  int64
 27  open_end_line_of_credit                   804666 non-null  int64
 28  manufactured_home_land_property_interest  804666 non-null  int64
 29  total_loan_costs                          804666 non-null  object
 30  negative_amortization                     804666 non-null  int64
 31  interest_only_payment                     804666 non-null  int64
 32  balloon_payment                           804666 non-null  int64
 33  other_nonamortizing_features              804666 non-null  int64
dtypes: float64(6), int64(18), object(10)
memory usage: 214.9+ MB

In [19]:
df_processed.to_csv('dataset.csv', index=False)