In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('processed_dataframe.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 43 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   loan_type                                 1100 non-null   int64
 1   loan_amount                               1100 non-null   int64
 2   action_taken                              1100 non-null   int64
 3   occupancy_type                            1100 non-null   int64
 4   census_tract                              1100 non-null   int64
 5   applicant_ethnicity_1                     1100 non-null   int64
 6   co_applicant_ethnicity_1                  1100 non-null   int64
 7   applicant_race_1                          1100 non-null   int64
 8   applicant_race_2                          1100 non-null   int64
 9   co_applicant_race_1                       1100 non-null   int64
 10  co_applicant_race_2                       1100 non-null   int64
 11  applicant_sex                             1100 non-null   int64
 12  co_applicant_sex                          1100 non-null   int64
 13  applicant_age                             1100 non-null   int64
 14  co_applicant_age                          1100 non-null   int64
 15  income                                    1100 non-null   int64
 16  lien_status                               1100 non-null   int64
 17  applicant_credit_score_type               1100 non-null   int64
 18  co_applicant_credit_score_type            1100 non-null   int64
 19  origination_charges                       1100 non-null   int64
 20  discount_points                           1100 non-null   int64
 21  lender_credits                            1100 non-null   int64
 22  interest_rate                             1100 non-null   int64
 23  debt_to_income_ratio                      1100 non-null   int64
 24  combined_loan_to_value_ratio              1100 non-null   int64
 25  loan_term                                 1100 non-null   int64
 26  property_value                            1100 non-null   int64
 27  manufactured_home_secured_property_type   1100 non-null   int64
 28  total_units                               1100 non-null   int64
 29  aus_1                                     1100 non-null   int64
 30  reverse_mortgage                          1100 non-null   int64
 31  open_end_line_of_credit                   1100 non-null   int64
 32  manufactured_home_land_property_interest  1100 non-null   int64
 33  total_loan_costs                          1100 non-null   int64
 34  total_points_and_fees                     1100 non-null   int64
 35  prepayment_penalty_term                   1100 non-null   int64
 36  negative_amortization                     1100 non-null   int64
 37  interest_only_payment                     1100 non-null   int64
 38  balloon_payment                           1100 non-null   int64
 39  other_nonamortizing_features              1100 non-null   int64
 40  multifamily_affordable_units              1100 non-null   int64
 41  ('applicant_race_2',)                     1100 non-null   int64
 42  ('co_applicant_race_2',)                  1100 non-null   int64
dtypes: int64(43)
memory usage: 369.7 KB

In [4]:
target_variable = "action_taken"

In [5]:
X = df.drop(columns=[target_variable])
y = df[target_variable]

In [6]:
seed = 123

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=seed)

In [8]:
X_test

,loan_type,loan_amount,occupancy_type,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,...,total_loan_costs,total_points_and_fees,prepayment_penalty_term,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,multifamily_affordable_units,"('applicant_race_2',)","('co_applicant_race_2',)"
1087,1,315000,1,12099000101,2,2,5,0,5,0,...,313,0,0,2,2,2,2,0,0,6
429,2,85000,1,42103950701,2,5,5,0,8,0,...,450,0,0,2,2,2,2,0,0,6
196,3,315000,1,42091200501,2,2,5,0,5,0,...,700,0,0,2,2,2,2,0,0,6
190,1,205000,1,37071032507,3,5,5,0,8,0,...,480,0,0,2,2,2,2,0,0,6
1088,2,405000,1,10003014803,2,2,5,0,5,0,...,298,0,0,2,2,2,2,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,1,395000,1,25023502102,2,3,5,0,6,0,...,301,0,0,2,2,2,2,0,0,6
566,1,475000,3,34029727001,4,4,7,0,7,0,...,435,0,0,2,2,2,2,0,0,6
226,1,405000,1,6061020717,2,2,5,0,5,0,...,50,0,0,2,2,2,2,0,0,6
886,1,325000,1,8005086700,2,5,5,0,8,0,...,43,0,0,2,2,2,2,0,0,6
952,1,315000,1,42101003200,2,2,5,0,5,0,...,270,0,0,2,2,2,2,0,0,6

In [9]:
X_train

,loan_type,loan_amount,occupancy_type,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,...,total_loan_costs,total_points_and_fees,prepayment_penalty_term,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,multifamily_affordable_units,"('applicant_race_2',)","('co_applicant_race_2',)"
328,2,155000,1,48381022002,1,1,5,0,5,0,...,550,0,0,2,2,2,2,0,0,6
505,1,395000,1,24031703212,2,5,3,0,8,0,...,187,0,0,2,2,2,2,0,0,6
581,2,185000,1,25021416101,2,5,5,0,8,0,...,0,0,0,2,2,2,2,0,0,6
844,1,305000,1,12021000200,2,2,5,0,5,0,...,343,0,0,2,2,2,2,0,0,6
1032,1,375000,2,18085961000,2,2,5,0,5,0,...,58,0,0,2,2,2,2,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,1,295000,2,6065045109,4,4,7,0,7,0,...,52,0,0,2,2,2,2,0,0,6
113,2,225000,1,37119005621,2,5,3,0,8,0,...,517,0,0,2,2,2,2,0,0,6
96,1,185000,1,45045002813,2,2,5,0,5,0,...,255,0,0,2,2,2,2,0,0,6
106,2,245000,1,34029720204,2,2,5,0,5,0,...,518,0,0,2,2,2,2,0,0,6
1041,1,355000,1,17119403532,2,2,5,0,5,0,...,316,0,0,2,2,2,2,0,0,6

In [10]:
# 1- loan originated
# 2- application approved but not accepted
# 3- application denied
# 4 - application withdrawn by applicant
# 5 - file closed for incompleteness
# 6 - purchased loan
# 7 - Pre-approval request denied
# 8 - pre-approval request approved but not accepted

y_train.value_counts()

6    493
4    160
1    122
5     46
3     44
2     15
Name: action_taken, dtype: int64

In [13]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=seed).fit(X_train, y_train)

In [15]:
clf.predict(X_test)

array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
      dtype=int64)

In [18]:
clf.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': 123,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}