In [1]:
import pandas as pd

In [2]:
url = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/three-year-data/2019/2019_public_lar_three_year_csv.zip'
# See information about data fields of the original dataset here:
# https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields

num_rows_to_read = 200000

condition = lambda x: x == 1
condition2 = lambda x: x == 2

data = pd.read_csv(url, nrows=num_rows_to_read, converters={'loan_purpose': condition, 'business_or_commercial_purpose': condition2},low_memory=False)

In [3]:
data.head()

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
0,2019,549300FNXYY540N23N64,NaN,CT,9003.0,9.003416e+09,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3286,21.58,98400,99.73,1077,1294,59
1,2019,549300FNXYY540N23N64,NaN,PA,42017.0,4.201710e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,3765,4.70,110100,84.24,1116,1295,54
2,2019,549300FNXYY540N23N64,NaN,NJ,34039.0,3.403903e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Hispanic or Latino,...,NaN,NaN,NaN,3932,75.43,98600,83.56,1138,1395,60
3,2019,549300FNXYY540N23N64,NaN,PA,42055.0,4.205501e+10,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,5844,10.40,76400,116.35,1769,2259,36
4,2019,549300FNXYY540N23N64,NaN,MT,30111.0,3.011100e+10,C,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,7934,15.15,73700,113.72,2108,2879,28

In [4]:
data.to_csv('1_downloaded_data.csv', index=False)