In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 9

In [2]:
df = pd.read_csv('9_loan_term.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137386 entries, 0 to 137385
Data columns (total 36 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              137381 non-null  float64
 1   action_taken                              137386 non-null  int64
 2   loan_type                                 137386 non-null  int64
 3   lien_status                               137386 non-null  int64
 4   reverse_mortgage                          137386 non-null  int64
 5   open_end_line_of_credit                   137386 non-null  int64
 6   loan_amount                               137386 non-null  int64
 7   combined_loan_to_value_ratio              137091 non-null  float64
 8   interest_rate                             137386 non-null  object
 9   total_loan_costs                          110401 non-null  float64
 10  origination_charges                       110401 non-null  float64
 11  loan_term                                 137386 non-null  object
 12  negative_amortization                     137386 non-null  int64
 13  interest_only_payment                     137386 non-null  int64
 14  balloon_payment                           137386 non-null  int64
 15  other_nonamortizing_features              137386 non-null  int64
 16  property_value                            137376 non-null  float64
 17  occupancy_type                            137386 non-null  int64
 18  manufactured_home_secured_property_type   137386 non-null  int64
 19  manufactured_home_land_property_interest  137386 non-null  int64
 20  total_units                               137386 non-null  int64
 21  income                                    131832 non-null  float64
 22  debt_to_income_ratio                      136804 non-null  object
 23  applicant_credit_score_type               137386 non-null  int64
 24  co_applicant_credit_score_type            137386 non-null  int64
 25  applicant_sex                             137386 non-null  int64
 26  co_applicant_sex                          137386 non-null  int64
 27  applicant_age                             137386 non-null  int64
 28  co_applicant_age                          137386 non-null  int64
 29  aus_1                                     137386 non-null  int64
 30  applicant_race_1                          111226 non-null  float64
 31  applicant_race_2                          1032 non-null    float64
 32  co_applicant_race_1                       109051 non-null  float64
 33  co_applicant_race_2                       940 non-null     float64
 34  applicant_ethnicity_1                     126842 non-null  float64
 35  co_applicant_ethnicity_1                  125523 non-null  float64
dtypes: float64(12), int64(21), object(3)
memory usage: 37.7+ MB

In [4]:
# Select object (string) and category columns from your DataFrame
object_category_columns = df.select_dtypes(include=['object', 'category'])

# Print the names of the selected columns
print(object_category_columns.columns)

Index(['interest_rate', 'loan_term', 'debt_to_income_ratio'], dtype='object')

# Convert interest_rate to numerical:

In [5]:
print(df['interest_rate'].value_counts())

3.5-4.0    39182
Other      26985
4.0-4.5    25024
3.0-3.5    23989
4.5-5.0     8767
2.0-3.0     8561
5.0-6.0     4294
6.0-7.0      531
1.0-2.0       43
7.0-8.0        7
8.0-9.0        2
0.0-1.0        1
Name: interest_rate, dtype: int64

In [6]:
# Define a dictionary to map the interest rate categories to numerical values
interest_rate_mapping = {
    '0.0-1.0': 1,
    '1.0-2.0': 2,
    '2.0-3.0': 3,
    '3.0-3.5': 4,
    '3.5-4.0': 5,
    '4.0-4.5': 6,
    '4.5-5.0': 7,
    '5.0-6.0': 8,
    '6.0-7.0': 9,
    '7.0-8.0': 10,
    '8.0-9.0': 11
}

# Map the values to the 'interest_rate' column
df['interest_rate'] = df['interest_rate'].map(interest_rate_mapping)

In [7]:
print(df['interest_rate'].value_counts())

5.0     39182
6.0     25024
4.0     23989
7.0      8767
3.0      8561
8.0      4294
9.0       531
2.0        43
10.0        7
11.0        2
1.0         1
Name: interest_rate, dtype: int64

# Convert loan_term to numerical:

In [8]:
print(df['loan_term'].value_counts())

27-31 years    106963
12-16 years     20631
17-21 years      7386
7-11 years       2016
22-26 years       377
2-6 years          11
37-41 years         2
Name: loan_term, dtype: int64

In [9]:
# Define a dictionary to map the loan term categories to numerical values
loan_term_mapping = {
    '2-6 years': 1,
    '7-11 years': 2,
    '12-16 years': 3,
    '17-21 years': 4,
    '22-26 years': 5,
    '27-31 years': 6,
    '37-41 years': 7
}

# Map the values to the 'loan_term' column
df['loan_term'] = df['loan_term'].map(loan_term_mapping)

In [10]:
print(df['loan_term'].value_counts())

6    106963
3     20631
4      7386
2      2016
5       377
1        11
7         2
Name: loan_term, dtype: int64

# Convert debt_to_income_ratio to numerical:

In [11]:
print(df['debt_to_income_ratio'].value_counts())

36%-50%     54487
20%-<30%    33006
30%-<36%    27192
<20%        11996
>60%         5614
50%-60%      4509
Name: debt_to_income_ratio, dtype: int64

In [12]:
# Define a dictionary to map the debt to income ratio categories to numerical values
debt_to_income_mapping = {
    '<20%': 1,
    '20%-<30%': 2,
    '30%-<36%': 3,
    '36%-50%': 4,
    '50%-60%': 5,
    '>60%': 6
}

# Map the values to the 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].map(debt_to_income_mapping)

In [13]:
print(df['debt_to_income_ratio'].value_counts())

4.0    54487
2.0    33006
3.0    27192
1.0    11996
6.0     5614
5.0     4509
Name: debt_to_income_ratio, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137386 entries, 0 to 137385
Data columns (total 36 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              137381 non-null  float64
 1   action_taken                              137386 non-null  int64
 2   loan_type                                 137386 non-null  int64
 3   lien_status                               137386 non-null  int64
 4   reverse_mortgage                          137386 non-null  int64
 5   open_end_line_of_credit                   137386 non-null  int64
 6   loan_amount                               137386 non-null  int64
 7   combined_loan_to_value_ratio              137091 non-null  float64
 8   interest_rate                             110401 non-null  float64
 9   total_loan_costs                          110401 non-null  float64
 10  origination_charges                       110401 non-null  float64
 11  loan_term                                 137386 non-null  int64
 12  negative_amortization                     137386 non-null  int64
 13  interest_only_payment                     137386 non-null  int64
 14  balloon_payment                           137386 non-null  int64
 15  other_nonamortizing_features              137386 non-null  int64
 16  property_value                            137376 non-null  float64
 17  occupancy_type                            137386 non-null  int64
 18  manufactured_home_secured_property_type   137386 non-null  int64
 19  manufactured_home_land_property_interest  137386 non-null  int64
 20  total_units                               137386 non-null  int64
 21  income                                    131832 non-null  float64
 22  debt_to_income_ratio                      136804 non-null  float64
 23  applicant_credit_score_type               137386 non-null  int64
 24  co_applicant_credit_score_type            137386 non-null  int64
 25  applicant_sex                             137386 non-null  int64
 26  co_applicant_sex                          137386 non-null  int64
 27  applicant_age                             137386 non-null  int64
 28  co_applicant_age                          137386 non-null  int64
 29  aus_1                                     137386 non-null  int64
 30  applicant_race_1                          111226 non-null  float64
 31  applicant_race_2                          1032 non-null    float64
 32  co_applicant_race_1                       109051 non-null  float64
 33  co_applicant_race_2                       940 non-null     float64
 34  applicant_ethnicity_1                     126842 non-null  float64
 35  co_applicant_ethnicity_1                  125523 non-null  float64
dtypes: float64(14), int64(22)
memory usage: 37.7 MB

In [15]:
df.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,co_applicant_sex,applicant_age,co_applicant_age,aus_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_ethnicity_1,co_applicant_ethnicity_1
0,4.209120e+10,1,1,1,2,2,355000,75.822,6.0,8352.71,...,2,1,7,1,5.0,NaN,5.0,NaN,2.0,2.0
1,5.513320e+10,1,2,1,2,2,285000,84.777,6.0,6854.68,...,2,1,1,6,5.0,NaN,5.0,NaN,2.0,2.0
2,6.073010e+09,1,1,1,2,2,475000,54.091,4.0,2288.00,...,2,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN
3,2.712304e+10,1,1,1,2,2,185000,64.615,4.0,1881.10,...,1,0,0,6,5.0,NaN,5.0,NaN,2.0,2.0
4,4.849102e+10,1,1,1,2,2,225000,85.920,5.0,3434.50,...,2,1,1,6,5.0,NaN,5.0,NaN,2.0,2.0

In [16]:
df.to_csv('10_all_numerical.csv', index=False)