In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 9

In [2]:
df = pd.read_csv('9_loan_term.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69202 entries, 0 to 69201
Data columns (total 36 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              69197 non-null  float64
 1   action_taken                              69202 non-null  int64
 2   loan_type                                 69202 non-null  int64
 3   lien_status                               69202 non-null  int64
 4   reverse_mortgage                          69202 non-null  int64
 5   open_end_line_of_credit                   69202 non-null  int64
 6   loan_amount                               69202 non-null  int64
 7   combined_loan_to_value_ratio              69202 non-null  object
 8   interest_rate                             69202 non-null  object
 9   total_loan_costs                          69202 non-null  object
 10  origination_charges                       69202 non-null  object
 11  loan_term                                 69202 non-null  object
 12  negative_amortization                     69202 non-null  int64
 13  interest_only_payment                     69202 non-null  int64
 14  balloon_payment                           69202 non-null  int64
 15  other_nonamortizing_features              69202 non-null  int64
 16  property_value                            69202 non-null  float64
 17  occupancy_type                            69202 non-null  int64
 18  manufactured_home_secured_property_type   69202 non-null  int64
 19  manufactured_home_land_property_interest  69202 non-null  int64
 20  total_units                               69202 non-null  int64
 21  income                                    66868 non-null  float64
 22  debt_to_income_ratio                      69202 non-null  object
 23  applicant_credit_score_type               69202 non-null  int64
 24  co_applicant_credit_score_type            69202 non-null  int64
 25  applicant_sex                             69202 non-null  int64
 26  co_applicant_sex                          69202 non-null  int64
 27  applicant_age                             69202 non-null  int64
 28  co_applicant_age                          69202 non-null  int64
 29  aus_1                                     69202 non-null  int64
 30  applicant_race_1                          56757 non-null  float64
 31  applicant_race_2                          542 non-null    float64
 32  co_applicant_race_1                       28814 non-null  float64
 33  co_applicant_race_2                       201 non-null    float64
 34  applicant_ethnicity_1                     64164 non-null  float64
 35  co_applicant_ethnicity_1                  32900 non-null  float64
dtypes: float64(9), int64(21), object(6)
memory usage: 19.0+ MB

In [4]:
# Select object (string) and category columns from your DataFrame
object_category_columns = df.select_dtypes(include=['object'])

# Print the names of the selected columns
print(object_category_columns.columns)

Index(['combined_loan_to_value_ratio', 'interest_rate', 'total_loan_costs',
       'origination_charges', 'loan_term', 'debt_to_income_ratio'],
      dtype='object')

# Convert interest_rate to numerical:

In [5]:
print(df['interest_rate'].value_counts())

interest_rate
3.5-4.0     24404
4.0-4.5     17097
3.0-3.5     12579
4.5-5.0      7057
2.0-3.0      4075
5.0-6.0      3578
6.0-7.0       350
1.0-2.0        22
7.0-8.0        20
8.0-9.0        15
9.9-15.0        3
0.0-1.0         2
Name: count, dtype: int64

In [6]:
# Define a dictionary to map the interest rate categories to numerical values
interest_rate_mapping = {
    '0.0-1.0': 1,
    '1.0-2.0': 2,
    '2.0-3.0': 3,
    '3.0-3.5': 4,
    '3.5-4.0': 5,
    '4.0-4.5': 6,
    '4.5-5.0': 7,
    '5.0-6.0': 8,
    '6.0-7.0': 9,
    '7.0-8.0': 10,
    '8.0-9.0': 11
}

# Map the values to the 'interest_rate' column
df['interest_rate'] = df['interest_rate'].map(interest_rate_mapping)

In [7]:
print(df['interest_rate'].value_counts())

interest_rate
5.0     24404
6.0     17097
4.0     12579
7.0      7057
3.0      4075
8.0      3578
9.0       350
2.0        22
10.0       20
11.0       15
1.0         2
Name: count, dtype: int64

# Convert loan_term to numerical:

In [8]:
print(df['loan_term'].value_counts())

loan_term
27-31 years    54907
12-16 years     9592
17-21 years     3481
7-11 years       946
22-26 years      244
2-6 years         29
0-1 years          2
1-2 years          1
Name: count, dtype: int64

In [9]:
# Define a dictionary to map the loan term categories to numerical values
loan_term_mapping = {
    '2-6 years': 1,
    '7-11 years': 2,
    '12-16 years': 3,
    '17-21 years': 4,
    '22-26 years': 5,
    '27-31 years': 6,
    '37-41 years': 7
}

# Map the values to the 'loan_term' column
df['loan_term'] = df['loan_term'].map(loan_term_mapping)

In [10]:
print(df['loan_term'].value_counts())

loan_term
6.0    54907
3.0     9592
4.0     3481
2.0      946
5.0      244
1.0       29
Name: count, dtype: int64

# Convert debt_to_income_ratio to numerical:

In [11]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
36%-50%     32035
20%-<30%    16217
30%-<36%    14342
<20%         5476
50%-60%       994
>60%          138
Name: count, dtype: int64

In [12]:
# Define a dictionary to map the debt to income ratio categories to numerical values
debt_to_income_mapping = {
    '<20%': 1,
    '20%-<30%': 2,
    '30%-<36%': 3,
    '36%-50%': 4,
    '50%-60%': 5,
    '>60%': 6
}

# Map the values to the 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].map(debt_to_income_mapping)

In [13]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
4    32035
2    16217
3    14342
1     5476
5      994
6      138
Name: count, dtype: int64

In [14]:
print(df['origination_charges'].value_counts())

origination_charges
0-500        22563
1000-1500    19894
500-1000      9968
1500-2000     6858
2000-2500     4012
2500-3000     2603
3000-3500     2014
3500-4000     1290
Name: count, dtype: int64

In [15]:
# Define a dictionary to map the origination_charges categories to numerical values
origination_charges_mapping = {
    '0-500': 1,
    '1000-1500': 2,
    '500-1000': 3,
    '1500-2000': 4,
    '2000-2500': 5,
    '2500-3000': 6,
    '3000-3500': 7,
    '3500-4000': 8
}

# Map the values to the 'origination_charges' column
df['origination_charges'] = df['origination_charges'].map(origination_charges_mapping)

In [16]:
print(df['origination_charges'].value_counts())

origination_charges
1    22563
2    19894
3     9968
4     6858
5     4012
6     2603
7     2014
8     1290
Name: count, dtype: int64

In [17]:
print(df['total_loan_costs'].value_counts())

total_loan_costs
2500-3000    9268
3000-3500    9155
3500-4000    7352
500-1000     7271
2000-2500    6135
4000-4500    5353
0-500        4476
4500-5000    4201
1500-2000    3385
5000-5500    3118
1000-1500    2618
5500-6000    2160
6000-6500    1479
6500-7000    1098
7000-7500     795
7500-8000     647
8000-8500     463
8500-9000     228
Name: count, dtype: int64

In [18]:
# Define a dictionary to map the total_loan_costs categories to numerical values
total_loan_costs_mapping = {
    '2500-3000': 1,
    '3000-3500': 2,
    '3500-4000': 3,
    '500-1000': 4,
    '2000-2500': 5,
    '4000-4500': 6,
    '0-500': 7,
    '4500-5000': 8,
    '1500-2000': 9,
    '5000-5500': 10,
    '1000-1500': 11,
    '5500-6000': 12,
    '6000-6500': 13,
    '6500-7000': 14,
    '7000-7500': 15,
    '7500-8000': 16,
    '8000-8500': 17,
    '8500-9000': 18
}

# Map the values to the 'origination_charges' column
df['total_loan_costs'] = df['total_loan_costs'].map(total_loan_costs_mapping)

In [19]:
print(df['total_loan_costs'].value_counts())

total_loan_costs
1     9268
2     9155
3     7352
4     7271
5     6135
6     5353
7     4476
8     4201
9     3385
10    3118
11    2618
12    2160
13    1479
14    1098
15     795
16     647
17     463
18     228
Name: count, dtype: int64

In [20]:
print(df['combined_loan_to_value_ratio'].value_counts())

combined_loan_to_value_ratio
75.0-80.0      17325
70.0-75.0       7508
95.0-100.0      6443
65.0-70.0       5792
90.0-95.0       5121
85.0-90.0       4504
55.0-60.0       4377
60.0-65.0       3527
50.0-55.0       2937
80.0-85.0       2784
45.0-50.0       2652
40.0-45.0       1915
35.0-40.0       1613
30.0-35.0       1177
25.0-30.0        861
100.0-120.0      337
0.0-25.0         329
Name: count, dtype: int64

In [21]:
# Define a dictionary to map the combined_loan_to_value_ratio categories to numerical values
combined_loan_to_value_ratio_mapping = {
    '75.0-80.0': 1,
    '70.0-75.0': 2,
    '95.0-100.0': 3,
    '65.0-70.0': 4,
    '90.0-95.0': 5,
    '85.0-90.0': 6,
    '55.0-60.0': 7,
    '60.0-65.0': 8,
    '50.0-55.0': 9,
    '80.0-85.0': 10,
    '45.0-50.0': 11,
    '40.0-45.0': 12,
    '35.0-40.0': 13,
    '30.0-35.0': 14,
    '25.0-30.0': 15,
    '100.0-120.0': 16,
    '0.0-25.0': 17
}


# Map the values to the 'combined_loan_to_value_ratio' column
df['combined_loan_to_value_ratio'] = df['combined_loan_to_value_ratio'].map(combined_loan_to_value_ratio_mapping)

In [22]:
print(df['combined_loan_to_value_ratio'].value_counts())

combined_loan_to_value_ratio
1     17325
2      7508
3      6443
4      5792
5      5121
6      4504
7      4377
8      3527
9      2937
10     2784
11     2652
12     1915
13     1613
14     1177
15      861
16      337
17      329
Name: count, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69202 entries, 0 to 69201
Data columns (total 36 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              69197 non-null  float64
 1   action_taken                              69202 non-null  int64
 2   loan_type                                 69202 non-null  int64
 3   lien_status                               69202 non-null  int64
 4   reverse_mortgage                          69202 non-null  int64
 5   open_end_line_of_credit                   69202 non-null  int64
 6   loan_amount                               69202 non-null  int64
 7   combined_loan_to_value_ratio              69202 non-null  int64
 8   interest_rate                             69199 non-null  float64
 9   total_loan_costs                          69202 non-null  int64
 10  origination_charges                       69202 non-null  int64
 11  loan_term                                 69199 non-null  float64
 12  negative_amortization                     69202 non-null  int64
 13  interest_only_payment                     69202 non-null  int64
 14  balloon_payment                           69202 non-null  int64
 15  other_nonamortizing_features              69202 non-null  int64
 16  property_value                            69202 non-null  float64
 17  occupancy_type                            69202 non-null  int64
 18  manufactured_home_secured_property_type   69202 non-null  int64
 19  manufactured_home_land_property_interest  69202 non-null  int64
 20  total_units                               69202 non-null  int64
 21  income                                    66868 non-null  float64
 22  debt_to_income_ratio                      69202 non-null  int64
 23  applicant_credit_score_type               69202 non-null  int64
 24  co_applicant_credit_score_type            69202 non-null  int64
 25  applicant_sex                             69202 non-null  int64
 26  co_applicant_sex                          69202 non-null  int64
 27  applicant_age                             69202 non-null  int64
 28  co_applicant_age                          69202 non-null  int64
 29  aus_1                                     69202 non-null  int64
 30  applicant_race_1                          56757 non-null  float64
 31  applicant_race_2                          542 non-null    float64
 32  co_applicant_race_1                       28814 non-null  float64
 33  co_applicant_race_2                       201 non-null    float64
 34  applicant_ethnicity_1                     64164 non-null  float64
 35  co_applicant_ethnicity_1                  32900 non-null  float64
dtypes: float64(11), int64(25)
memory usage: 19.0 MB

In [24]:
df.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,co_applicant_sex,applicant_age,co_applicant_age,aus_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_ethnicity_1,co_applicant_ethnicity_1
0,1.703175e+10,1,1,1,2,2,225000,1,6.0,1,...,5,1,6,5,5.0,NaN,NaN,NaN,2.0,NaN
1,8.005086e+09,1,1,1,2,2,435000,2,5.0,9,...,2,1,0,1,5.0,NaN,5.0,NaN,2.0,2.0
2,2.400373e+10,1,1,1,2,2,555000,1,7.0,8,...,2,1,1,6,5.0,NaN,5.0,NaN,2.0,2.0
3,3.500500e+10,1,1,1,2,2,85000,2,7.0,2,...,5,0,6,1,5.0,NaN,NaN,NaN,1.0,NaN
4,2.401785e+10,1,1,1,2,2,225000,2,5.0,5,...,5,1,6,1,5.0,NaN,NaN,NaN,2.0,NaN

# Make data the same data type

## Remove nan first

In [25]:
columns_with_nan = df.columns[df.isna().any()].tolist()
print("Columns with NaN values:", columns_with_nan)

Columns with NaN values: ['census_tract', 'interest_rate', 'loan_term', 'income', 'applicant_race_1', 'applicant_race_2', 'co_applicant_race_1', 'co_applicant_race_2', 'applicant_ethnicity_1', 'co_applicant_ethnicity_1']

In [26]:
# Specify columns with NaN values and their respective fill methods
columns_to_fill = {
    'census_tract': 'mode',  # Fill with mode
    'interest_rate': 'mean',  # Fill with mean
    'loan_term': 'mode',  # Fill with mode
    'income': 'mean',  # Fill with mean
    'applicant_race_1': 'mode',  # Fill with mode
    'applicant_race_2': 'mode',  # Fill with mode
    'co_applicant_race_1': 'mode',  # Fill with mode
    'co_applicant_race_2': 'mode',  # Fill with mode
    'applicant_ethnicity_1': 'mode',  # Fill with mode
    'co_applicant_ethnicity_1': 'mode'  # Fill with mode
}

# Fill missing values according to the specified method for each column
for column, fill_method in columns_to_fill.items():
    if fill_method == 'mean':
        mean_value = df[column].mean()
        df[column].fillna(mean_value, inplace=True)
    elif fill_method == 'mode':
        mode_value = df[column].mode().values[0]
        df[column].fillna(mode_value, inplace=True)
    else:
        df[column].fillna(fill_method, inplace=True)

In [27]:
columns_with_nan = df.columns[df.isna().any()].tolist()
print("Columns with NaN values:", columns_with_nan)

Columns with NaN values: []

In [28]:
int32_columns = [
    'action_taken', 'loan_type', 'lien_status', 'reverse_mortgage', 'open_end_line_of_credit', 'loan_amount',
    'combined_loan_to_value_ratio', 'total_loan_costs', 'origination_charges', 'loan_term',
    'negative_amortization', 'interest_only_payment', 'balloon_payment', 'other_nonamortizing_features',
    'occupancy_type', 'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest',
    'total_units', 'debt_to_income_ratio', 'applicant_credit_score_type', 'co_applicant_credit_score_type',
    'applicant_sex', 'co_applicant_sex', 'applicant_age', 'co_applicant_age', 'aus_1'
]

float32_columns = [
    'census_tract', 'interest_rate', 'property_value', 'income', 'applicant_race_1', 'applicant_race_2',
    'co_applicant_race_1', 'co_applicant_race_2', 'applicant_ethnicity_1', 'co_applicant_ethnicity_1'
]



for column in int32_columns:
    df[column] = df[column].astype(np.int32)

for column in float32_columns:
    df[column] = df[column].astype(np.float32)

# Verify the data types after conversion
print(df.dtypes)

census_tract                                float32
action_taken                                  int32
loan_type                                     int32
lien_status                                   int32
reverse_mortgage                              int32
open_end_line_of_credit                       int32
loan_amount                                   int32
combined_loan_to_value_ratio                  int32
interest_rate                               float32
total_loan_costs                              int32
origination_charges                           int32
loan_term                                     int32
negative_amortization                         int32
interest_only_payment                         int32
balloon_payment                               int32
other_nonamortizing_features                  int32
property_value                              float32
occupancy_type                                int32
manufactured_home_secured_property_type       int32
manufactured_home_land_property_interest      int32
total_units                                   int32
income                                      float32
debt_to_income_ratio                          int32
applicant_credit_score_type                   int32
co_applicant_credit_score_type                int32
applicant_sex                                 int32
co_applicant_sex                              int32
applicant_age                                 int32
co_applicant_age                              int32
aus_1                                         int32
applicant_race_1                            float32
applicant_race_2                            float32
co_applicant_race_1                         float32
co_applicant_race_2                         float32
applicant_ethnicity_1                       float32
co_applicant_ethnicity_1                    float32
dtype: object

In [29]:
df.to_csv('10_all_numerical.csv', index=False)