In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 9

In [2]:
df = pd.read_csv('9_loan_term.csv', low_memory=False)

In [3]:
# Print the value counts for the filtered DataFrame
print("Value counts for race after filtering:")
print(df['applicant_race_1'].value_counts())
print(df['co_applicant_race_1'].value_counts())

print("Value counts for ethnicity after filtering:")
print(df['applicant_ethnicity_1'].value_counts())
print(df['co_applicant_ethnicity_1'].value_counts())

Value counts for race after filtering:
applicant_race_1
5.0    46920
3.0     2768
Name: count, dtype: int64
co_applicant_race_1
5.0    46927
3.0     2761
Name: count, dtype: int64
Value counts for ethnicity after filtering:
applicant_ethnicity_1
2.0    44272
1.0     5416
Name: count, dtype: int64
co_applicant_ethnicity_1
2.0    44071
1.0     5617
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              49638 non-null  float64
 1   action_taken                              49688 non-null  int64
 2   loan_type                                 49688 non-null  int64
 3   lien_status                               49688 non-null  int64
 4   reverse_mortgage                          49688 non-null  int64
 5   open_end_line_of_credit                   49688 non-null  int64
 6   loan_amount                               49688 non-null  int64
 7   combined_loan_to_value_ratio              49688 non-null  object
 8   interest_rate                             49688 non-null  object
 9   total_loan_costs                          49688 non-null  object
 10  origination_charges                       49688 non-null  object
 11  loan_term                                 49688 non-null  object
 12  negative_amortization                     49688 non-null  int64
 13  interest_only_payment                     49688 non-null  int64
 14  balloon_payment                           49688 non-null  int64
 15  other_nonamortizing_features              49688 non-null  int64
 16  property_value                            49675 non-null  float64
 17  occupancy_type                            49688 non-null  int64
 18  manufactured_home_secured_property_type   49688 non-null  int64
 19  manufactured_home_land_property_interest  49688 non-null  int64
 20  total_units                               49688 non-null  int64
 21  income                                    48126 non-null  float64
 22  debt_to_income_ratio                      49482 non-null  object
 23  applicant_credit_score_type               49688 non-null  int64
 24  co_applicant_credit_score_type            49688 non-null  int64
 25  applicant_ethnicity_1                     49688 non-null  float64
 26  co_applicant_ethnicity_1                  49688 non-null  float64
 27  applicant_race_1                          49688 non-null  float64
 28  applicant_race_2                          215 non-null    float64
 29  co_applicant_race_1                       49688 non-null  float64
 30  co_applicant_race_2                       189 non-null    float64
 31  applicant_sex                             49688 non-null  int64
 32  co_applicant_sex                          49688 non-null  int64
 33  applicant_age                             49688 non-null  int64
 34  co_applicant_age                          49688 non-null  int64
dtypes: float64(9), int64(20), object(6)
memory usage: 13.3+ MB

In [5]:
# Select object (string) and category columns from your DataFrame
object_category_columns = df.select_dtypes(include=['object'])

# Print the names of the selected columns
print(object_category_columns.columns)

Index(['combined_loan_to_value_ratio', 'interest_rate', 'total_loan_costs',
       'origination_charges', 'loan_term', 'debt_to_income_ratio'],
      dtype='object')

# Convert interest_rate to numerical:

In [6]:
print(df['interest_rate'].value_counts())

interest_rate
3.5-4.0     31919
4.0-4.5      6928
3.0-3.5      5076
4.5-5.0      2800
2.0-3.0      1489
5.0-6.0      1307
6.0-7.0       142
8.0-9.0        11
7.0-8.0         8
1.0-2.0         7
9.9-15.0        1
Name: count, dtype: int64

In [7]:
# Define a dictionary to map the interest rate categories to numerical values
interest_rate_mapping = {
    '0.0-1.0': 1,
    '1.0-2.0': 2,
    '2.0-3.0': 3,
    '3.0-3.5': 4,
    '3.5-4.0': 5,
    '4.0-4.5': 6,
    '4.5-5.0': 7,
    '5.0-6.0': 8,
    '6.0-7.0': 9,
    '7.0-8.0': 10,
    '8.0-9.0': 11
}

# Map the values to the 'interest_rate' column
df['interest_rate'] = df['interest_rate'].map(interest_rate_mapping)

In [8]:
print(df['interest_rate'].value_counts())

interest_rate
5.0     31919
6.0      6928
4.0      5076
7.0      2800
3.0      1489
8.0      1307
9.0       142
11.0       11
10.0        8
2.0         7
Name: count, dtype: int64

# Convert loan_term to numerical:

In [9]:
print(df['loan_term'].value_counts())

loan_term
27-31 years    38575
12-16 years     7074
17-21 years     2943
7-11 years       848
22-26 years      173
2-6 years         70
37-41 years        2
1-2 years          1
32-36 years        1
0-1 years          1
Name: count, dtype: int64

In [10]:
# Define a dictionary to map the loan term categories to numerical values
loan_term_mapping = {
    '2-6 years': 1,
    '7-11 years': 2,
    '12-16 years': 3,
    '17-21 years': 4,
    '22-26 years': 5,
    '27-31 years': 6,
    '37-41 years': 7
}

# Map the values to the 'loan_term' column
df['loan_term'] = df['loan_term'].map(loan_term_mapping)

In [11]:
print(df['loan_term'].value_counts())

loan_term
6.0    38575
3.0     7074
4.0     2943
2.0      848
5.0      173
1.0       70
7.0        2
Name: count, dtype: int64

# Convert debt_to_income_ratio to numerical:

In [12]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
36%-50%     18584
20%-<30%    10640
30%-<36%     8793
>60%         4183
<20%         4045
50%-60%      3237
Name: count, dtype: int64

In [13]:
# Define a dictionary to map the debt to income ratio categories to numerical values
debt_to_income_mapping = {
    '<20%': 1,
    '20%-<30%': 2,
    '30%-<36%': 3,
    '36%-50%': 4,
    '50%-60%': 5,
    '>60%': 6
}

# Map the values to the 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].map(debt_to_income_mapping)

In [14]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
4.0    18584
2.0    10640
3.0     8793
6.0     4183
1.0     4045
5.0     3237
Name: count, dtype: int64

In [15]:
print(df['origination_charges'].value_counts())

origination_charges
Other        21712
0-500         8779
1000-1500     7929
500-1000      4263
1500-2000     2734
2000-2500     1619
2500-3000     1104
3000-3500      878
3500-4000      643
4000-4500       27
Name: count, dtype: int64

In [16]:
# Define a dictionary to map the origination_charges categories to numerical values
origination_charges_mapping = {
    '0-500': 1,
    '1000-1500': 2,
    '500-1000': 3,
    '1500-2000': 4,
    '2000-2500': 5,
    '2500-3000': 6,
    '3000-3500': 7,
    '3500-4000': 8
}

# Map the values to the 'origination_charges' column
df['origination_charges'] = df['origination_charges'].map(origination_charges_mapping)

In [17]:
print(df['origination_charges'].value_counts())

origination_charges
1.0    8779
2.0    7929
3.0    4263
4.0    2734
5.0    1619
6.0    1104
7.0     878
8.0     643
Name: count, dtype: int64

In [18]:
print(df['total_loan_costs'].value_counts())

total_loan_costs
Other        21712
3000-3500     3703
2500-3000     3660
3500-4000     2986
500-1000      2622
2000-2500     2544
4000-4500     2300
4500-5000     1787
0-500         1723
5000-5500     1348
1500-2000     1319
1000-1500     1066
5500-6000      945
6000-6500      590
6500-7000      475
7000-7500      307
7500-8000      249
8000-8500      189
8500-9000      156
9000-9500        7
Name: count, dtype: int64

In [19]:
# Define a dictionary to map the total_loan_costs categories to numerical values
total_loan_costs_mapping = {
    '2500-3000': 1,
    '3000-3500': 2,
    '3500-4000': 3,
    '500-1000': 4,
    '2000-2500': 5,
    '4000-4500': 6,
    '0-500': 7,
    '4500-5000': 8,
    '1500-2000': 9,
    '5000-5500': 10,
    '1000-1500': 11,
    '5500-6000': 12,
    '6000-6500': 13,
    '6500-7000': 14,
    '7000-7500': 15,
    '7500-8000': 16,
    '8000-8500': 17,
    '8500-9000': 18
}

# Map the values to the 'origination_charges' column
df['total_loan_costs'] = df['total_loan_costs'].map(total_loan_costs_mapping)

In [20]:
print(df['total_loan_costs'].value_counts())

total_loan_costs
2.0     3703
1.0     3660
3.0     2986
4.0     2622
5.0     2544
6.0     2300
8.0     1787
7.0     1723
10.0    1348
9.0     1319
11.0    1066
12.0     945
13.0     590
14.0     475
15.0     307
16.0     249
17.0     189
18.0     156
Name: count, dtype: int64

In [21]:
print(df['combined_loan_to_value_ratio'].value_counts())

combined_loan_to_value_ratio
75.0-80.0      11897
70.0-75.0       5175
95.0-100.0      4326
65.0-70.0       4219
90.0-95.0       3378
85.0-90.0       3315
55.0-60.0       3255
60.0-65.0       2714
80.0-85.0       2496
50.0-55.0       2079
45.0-50.0       1951
40.0-45.0       1437
35.0-40.0       1118
100.0-120.0      926
30.0-35.0        891
25.0-30.0        511
Name: count, dtype: int64

In [22]:
# Define a dictionary to map the combined_loan_to_value_ratio categories to numerical values
combined_loan_to_value_ratio_mapping = {
    '75.0-80.0': 1,
    '70.0-75.0': 2,
    '95.0-100.0': 3,
    '65.0-70.0': 4,
    '90.0-95.0': 5,
    '85.0-90.0': 6,
    '55.0-60.0': 7,
    '60.0-65.0': 8,
    '50.0-55.0': 9,
    '80.0-85.0': 10,
    '45.0-50.0': 11,
    '40.0-45.0': 12,
    '35.0-40.0': 13,
    '30.0-35.0': 14,
    '25.0-30.0': 15,
    '100.0-120.0': 16,
    '0.0-25.0': 17
}


# Map the values to the 'combined_loan_to_value_ratio' column
df['combined_loan_to_value_ratio'] = df['combined_loan_to_value_ratio'].map(combined_loan_to_value_ratio_mapping)

In [23]:
print(df['combined_loan_to_value_ratio'].value_counts())

combined_loan_to_value_ratio
1     11897
2      5175
3      4326
4      4219
5      3378
6      3315
7      3255
8      2714
10     2496
9      2079
11     1951
12     1437
13     1118
16      926
14      891
15      511
Name: count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              49638 non-null  float64
 1   action_taken                              49688 non-null  int64
 2   loan_type                                 49688 non-null  int64
 3   lien_status                               49688 non-null  int64
 4   reverse_mortgage                          49688 non-null  int64
 5   open_end_line_of_credit                   49688 non-null  int64
 6   loan_amount                               49688 non-null  int64
 7   combined_loan_to_value_ratio              49688 non-null  int64
 8   interest_rate                             49687 non-null  float64
 9   total_loan_costs                          27969 non-null  float64
 10  origination_charges                       27949 non-null  float64
 11  loan_term                                 49685 non-null  float64
 12  negative_amortization                     49688 non-null  int64
 13  interest_only_payment                     49688 non-null  int64
 14  balloon_payment                           49688 non-null  int64
 15  other_nonamortizing_features              49688 non-null  int64
 16  property_value                            49675 non-null  float64
 17  occupancy_type                            49688 non-null  int64
 18  manufactured_home_secured_property_type   49688 non-null  int64
 19  manufactured_home_land_property_interest  49688 non-null  int64
 20  total_units                               49688 non-null  int64
 21  income                                    48126 non-null  float64
 22  debt_to_income_ratio                      49482 non-null  float64
 23  applicant_credit_score_type               49688 non-null  int64
 24  co_applicant_credit_score_type            49688 non-null  int64
 25  applicant_ethnicity_1                     49688 non-null  float64
 26  co_applicant_ethnicity_1                  49688 non-null  float64
 27  applicant_race_1                          49688 non-null  float64
 28  applicant_race_2                          215 non-null    float64
 29  co_applicant_race_1                       49688 non-null  float64
 30  co_applicant_race_2                       189 non-null    float64
 31  applicant_sex                             49688 non-null  int64
 32  co_applicant_sex                          49688 non-null  int64
 33  applicant_age                             49688 non-null  int64
 34  co_applicant_age                          49688 non-null  int64
dtypes: float64(14), int64(21)
memory usage: 13.3 MB

In [25]:
df.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age
0,4.201710e+10,3,3,1,2,2,205000,16,5.0,NaN,...,2.0,2.0,5.0,NaN,5.0,NaN,1,2,7,4
1,4.843911e+10,3,2,1,2,2,155000,7,5.0,NaN,...,2.0,2.0,5.0,NaN,5.0,NaN,2,1,3,3
2,1.703700e+10,3,2,1,2,2,125000,8,5.0,NaN,...,2.0,2.0,5.0,NaN,5.0,NaN,1,2,4,3
3,4.500700e+10,3,2,1,2,2,55000,7,5.0,NaN,...,2.0,2.0,3.0,NaN,3.0,NaN,1,2,2,2
4,4.201711e+10,3,1,1,2,2,345000,1,5.0,NaN,...,2.0,2.0,5.0,NaN,5.0,NaN,1,2,2,2

# Make data the same data type

## Remove nan first

In [26]:
columns_with_nan = df.columns[df.isna().any()].tolist()
print("Columns with NaN values:", columns_with_nan)

Columns with NaN values: ['census_tract', 'interest_rate', 'total_loan_costs', 'origination_charges', 'loan_term', 'property_value', 'income', 'debt_to_income_ratio', 'applicant_race_2', 'co_applicant_race_2']

In [27]:
# Specify columns with NaN values and their respective fill methods
columns_to_fill = {
    'census_tract': 'mode',  # Fill with mode
    'interest_rate': 'mean',  # Fill with mean
    'loan_term': 'mode',  # Fill with mode
    'income': 'mean',  # Fill with mean
    'applicant_race_1': 'mode',  # Fill with mode
    'applicant_race_2': 'mode',  # Fill with mode
    'co_applicant_race_1': 'mode',  # Fill with mode
    'co_applicant_race_2': 'mode',  # Fill with mode
    'applicant_ethnicity_1': 'mode',  # Fill with mode
    'co_applicant_ethnicity_1': 'mode',  # Fill with mode
    'total_loan_costs': 'mean',  # Fill with mean
    'origination_charges': 'mean',  # Fill with mean
    'property_value': 'mean',  # Fill with mean
    'debt_to_income_ratio': 'mean'  # Fill with mean
}

# Fill missing values according to the specified method for each column
for column, fill_method in columns_to_fill.items():
    if fill_method == 'mean':
        mean_value = df[column].mean()
        df[column].fillna(mean_value, inplace=True)
    elif fill_method == 'mode':
        mode_value = df[column].mode().values[0]
        df[column].fillna(mode_value, inplace=True)
    else:
        df[column].fillna(fill_method, inplace=True)

In [28]:
columns_with_nan = df.columns[df.isna().any()].tolist()
print("Columns with NaN values:", columns_with_nan)

Columns with NaN values: []

In [29]:
int32_columns = [
    'action_taken', 'loan_type', 'lien_status', 'reverse_mortgage', 'open_end_line_of_credit', 'loan_amount',
    'combined_loan_to_value_ratio', 'total_loan_costs', 'origination_charges', 'loan_term',
    'negative_amortization', 'interest_only_payment', 'balloon_payment', 'other_nonamortizing_features',
    'occupancy_type', 'manufactured_home_secured_property_type', 'manufactured_home_land_property_interest',
    'total_units', 'debt_to_income_ratio', 'applicant_credit_score_type', 'co_applicant_credit_score_type',
    'applicant_sex', 'co_applicant_sex', 'applicant_age', 'co_applicant_age'
]

float32_columns = [
    'census_tract', 'interest_rate', 'property_value', 'income', 'applicant_race_1', 'applicant_race_2',
    'co_applicant_race_1', 'co_applicant_race_2', 'applicant_ethnicity_1', 'co_applicant_ethnicity_1'
]

for column in int32_columns:
    df[column] = df[column].astype(np.int32)

for column in float32_columns:
    df[column] = df[column].astype(np.float32)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              49688 non-null  float32
 1   action_taken                              49688 non-null  int32
 2   loan_type                                 49688 non-null  int32
 3   lien_status                               49688 non-null  int32
 4   reverse_mortgage                          49688 non-null  int32
 5   open_end_line_of_credit                   49688 non-null  int32
 6   loan_amount                               49688 non-null  int32
 7   combined_loan_to_value_ratio              49688 non-null  int32
 8   interest_rate                             49688 non-null  float32
 9   total_loan_costs                          49688 non-null  int32
 10  origination_charges                       49688 non-null  int32
 11  loan_term                                 49688 non-null  int32
 12  negative_amortization                     49688 non-null  int32
 13  interest_only_payment                     49688 non-null  int32
 14  balloon_payment                           49688 non-null  int32
 15  other_nonamortizing_features              49688 non-null  int32
 16  property_value                            49688 non-null  float32
 17  occupancy_type                            49688 non-null  int32
 18  manufactured_home_secured_property_type   49688 non-null  int32
 19  manufactured_home_land_property_interest  49688 non-null  int32
 20  total_units                               49688 non-null  int32
 21  income                                    49688 non-null  float32
 22  debt_to_income_ratio                      49688 non-null  int32
 23  applicant_credit_score_type               49688 non-null  int32
 24  co_applicant_credit_score_type            49688 non-null  int32
 25  applicant_ethnicity_1                     49688 non-null  float32
 26  co_applicant_ethnicity_1                  49688 non-null  float32
 27  applicant_race_1                          49688 non-null  float32
 28  applicant_race_2                          49688 non-null  float32
 29  co_applicant_race_1                       49688 non-null  float32
 30  co_applicant_race_2                       49688 non-null  float32
 31  applicant_sex                             49688 non-null  int32
 32  co_applicant_sex                          49688 non-null  int32
 33  applicant_age                             49688 non-null  int32
 34  co_applicant_age                          49688 non-null  int32
dtypes: float32(10), int32(25)
memory usage: 6.6 MB

In [31]:
# Print the value counts for the filtered DataFrame
print("Value counts for race after filtering:")
print(df['applicant_race_1'].value_counts())
print(df['co_applicant_race_1'].value_counts())

print("Value counts for ethnicity after filtering:")
print(df['applicant_ethnicity_1'].value_counts())
print(df['co_applicant_ethnicity_1'].value_counts())

Value counts for race after filtering:
applicant_race_1
5.0    46920
3.0     2768
Name: count, dtype: int64
co_applicant_race_1
5.0    46927
3.0     2761
Name: count, dtype: int64
Value counts for ethnicity after filtering:
applicant_ethnicity_1
2.0    44272
1.0     5416
Name: count, dtype: int64
co_applicant_ethnicity_1
2.0    44071
1.0     5617
Name: count, dtype: int64

In [33]:
df.to_csv('10_all_numerical_32bit.csv', index=False)