In [1]:
import pandas as pd

In [2]:
url = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/three-year-data/2019/2019_public_lar_three_year_csv.zip'
# See information about data fields of the original dataset here:
# https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields

num_rows_to_read = 700000

# 'loan_purpose': condition, 'business or commercial_purpose, condition two is home owners.
condition = lambda x: x == 1
condition2 = lambda x: x == 2

# List of column names we want to read:
columns_to_read = [
'loan_type',
'loan_amount',
'action_taken',
'occupancy_type',
'census_tract',
'applicant_ethnicity_1',
'co_applicant_ethnicity_1',
'applicant_race_1',
'co_applicant_race_1',
'applicant_sex',
'co_applicant_sex',
'applicant_age',
'co_applicant_age',
'income',
'lien_status',
'applicant_credit_score_type',
'co_applicant_credit_score_type',
'origination_charges',
'interest_rate',
'debt_to_income_ratio',
'combined_loan_to_value_ratio',
'loan_term',
'property_value',
'manufactured_home_secured_property_type',
'total_units',
'aus_1',
'reverse_mortgage',
'open_end_line_of_credit',
'manufactured_home_land_property_interest',
'total_loan_costs',
'negative_amortization',
'interest_only_payment',
'balloon_payment',
'other_nonamortizing_features',
    
'co_applicant_race_2', # Need those for the EDA in '3', remove later.
'applicant_race_2'  # Need those for the EDA in '3', remove later.
]

# Read the CSV file with the specified columns
data = pd.read_csv(url, usecols=columns_to_read, nrows=num_rows_to_read, converters={'loan_purpose': condition, 'business_or_commercial_purpose': condition2}, low_memory=False)

In [3]:
data.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age,aus_1
0,9.003416e+09,3,2,1,2,2,115000,98.188,NaN,NaN,...,5.0,3.0,NaN,8.0,NaN,1,5,35-44,9999,1
1,4.201710e+10,2,1,1,2,2,345000,79.254,3.5,NaN,...,2.0,6.0,NaN,6.0,NaN,1,2,45-54,55-64,1
2,3.403903e+10,5,2,1,2,2,225000,NaN,NaN,NaN,...,1.0,5.0,NaN,5.0,NaN,1,2,45-54,45-54,1
3,4.205501e+10,5,2,1,2,2,125000,NaN,NaN,NaN,...,5.0,5.0,NaN,8.0,NaN,2,5,65-74,9999,1
4,3.011100e+10,5,1,1,2,2,125000,NaN,NaN,NaN,...,5.0,5.0,NaN,8.0,NaN,2,5,55-64,9999,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700000 entries, 0 to 699999
Data columns (total 36 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              698778 non-null  float64
 1   action_taken                              700000 non-null  int64
 2   loan_type                                 700000 non-null  int64
 3   lien_status                               700000 non-null  int64
 4   reverse_mortgage                          700000 non-null  int64
 5   open_end_line_of_credit                   700000 non-null  int64
 6   loan_amount                               700000 non-null  int64
 7   combined_loan_to_value_ratio              377661 non-null  object
 8   interest_rate                             492908 non-null  object
 9   total_loan_costs                          473993 non-null  object
 10  origination_charges                       484032 non-null  object
 11  loan_term                                 699465 non-null  object
 12  negative_amortization                     700000 non-null  int64
 13  interest_only_payment                     700000 non-null  int64
 14  balloon_payment                           700000 non-null  int64
 15  other_nonamortizing_features              700000 non-null  int64
 16  property_value                            575305 non-null  object
 17  occupancy_type                            700000 non-null  int64
 18  manufactured_home_secured_property_type   700000 non-null  int64
 19  manufactured_home_land_property_interest  700000 non-null  int64
 20  total_units                               700000 non-null  object
 21  income                                    670310 non-null  float64
 22  debt_to_income_ratio                      376663 non-null  object
 23  applicant_credit_score_type               700000 non-null  int64
 24  co_applicant_credit_score_type            700000 non-null  int64
 25  applicant_ethnicity_1                     697788 non-null  float64
 26  co_applicant_ethnicity_1                  699222 non-null  float64
 27  applicant_race_1                          699284 non-null  float64
 28  applicant_race_2                          38314 non-null   float64
 29  co_applicant_race_1                       699749 non-null  float64
 30  co_applicant_race_2                       18279 non-null   float64
 31  applicant_sex                             700000 non-null  int64
 32  co_applicant_sex                          700000 non-null  int64
 33  applicant_age                             700000 non-null  object
 34  co_applicant_age                          700000 non-null  object
 35  aus_1                                     700000 non-null  int64
dtypes: float64(8), int64(18), object(10)
memory usage: 192.3+ MB

## Check target variable for 'enough' data.

In [5]:
# we want enough data in the target column in the categories 1 and 3. at least 30% in category 3.
data['action_taken'].value_counts()

action_taken
1    297049
6    191999
4    118062
3     83560
5      5254
2      3167
8       856
7        53
Name: count, dtype: int64

In [6]:
df_test = data.copy()

In [7]:
# Create a Boolean mask to identify rows with missing values in 'object' columns
missing_values_mask = df_test.select_dtypes(include=['object']).isna().any(axis=1)

# Create a Boolean mask to identify rows without missing values in 'object' columns or with 'action_taken' equal to 3
no_missing_values_mask = ~missing_values_mask | (df_test['action_taken'] == 3)

# Use the mask to filter the DataFrame and get rows without missing values in 'object' columns, or with 'action_taken' equal to 3
rows_without_missing_values = df_test[no_missing_values_mask]

# Print the number of rows without missing values in 'object' columns or with 'action_taken' equal to 3
print(len(rows_without_missing_values))

360281

In [8]:
data['action_taken'].value_counts()

action_taken
1    297049
6    191999
4    118062
3     83560
5      5254
2      3167
8       856
7        53
Name: count, dtype: int64

In [9]:
rows_without_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
Index: 360281 entries, 0 to 699986
Data columns (total 36 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              360137 non-null  float64
 1   action_taken                              360281 non-null  int64
 2   loan_type                                 360281 non-null  int64
 3   lien_status                               360281 non-null  int64
 4   reverse_mortgage                          360281 non-null  int64
 5   open_end_line_of_credit                   360281 non-null  int64
 6   loan_amount                               360281 non-null  int64
 7   combined_loan_to_value_ratio              358926 non-null  object
 8   interest_rate                             276876 non-null  object
 9   total_loan_costs                          276876 non-null  object
 10  origination_charges                       276876 non-null  object
 11  loan_term                                 360209 non-null  object
 12  negative_amortization                     360281 non-null  int64
 13  interest_only_payment                     360281 non-null  int64
 14  balloon_payment                           360281 non-null  int64
 15  other_nonamortizing_features              360281 non-null  int64
 16  property_value                            360104 non-null  object
 17  occupancy_type                            360281 non-null  int64
 18  manufactured_home_secured_property_type   360281 non-null  int64
 19  manufactured_home_land_property_interest  360281 non-null  int64
 20  total_units                               360281 non-null  object
 21  income                                    347742 non-null  float64
 22  debt_to_income_ratio                      358227 non-null  object
 23  applicant_credit_score_type               360281 non-null  int64
 24  co_applicant_credit_score_type            360281 non-null  int64
 25  applicant_ethnicity_1                     358849 non-null  float64
 26  co_applicant_ethnicity_1                  359779 non-null  float64
 27  applicant_race_1                          359807 non-null  float64
 28  applicant_race_2                          20843 non-null   float64
 29  co_applicant_race_1                       360110 non-null  float64
 30  co_applicant_race_2                       10289 non-null   float64
 31  applicant_sex                             360281 non-null  int64
 32  co_applicant_sex                          360281 non-null  int64
 33  applicant_age                             360281 non-null  object
 34  co_applicant_age                          360281 non-null  object
 35  aus_1                                     360281 non-null  int64
dtypes: float64(8), int64(18), object(10)
memory usage: 101.7+ MB

In [10]:
rows_without_missing_values.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age,aus_1
0,9.003416e+09,3,2,1,2,2,115000,98.188,NaN,NaN,...,5.0,3.0,NaN,8.0,NaN,1,5,35-44,9999,1
7,4.209120e+10,1,1,1,2,2,355000,75.822,4.25,8352.71,...,2.0,5.0,NaN,5.0,NaN,1,2,35-44,>74,1
8,6.067006e+09,1,1,1,2,2,265000,77.612,3.5,1983.0,...,5.0,5.0,NaN,8.0,NaN,2,5,45-54,9999,6
13,5.513320e+10,1,2,1,2,2,285000,84.777,4.125,6854.68,...,2.0,5.0,NaN,5.0,NaN,1,2,35-44,35-44,6
16,5.513320e+10,1,1,1,2,2,295000,95.0,3.5,4700.6,...,5.0,5.0,NaN,8.0,NaN,2,5,35-44,9999,6

In [11]:
categorical_columns = rows_without_missing_values.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['combined_loan_to_value_ratio',
 'interest_rate',
 'total_loan_costs',
 'origination_charges',
 'loan_term',
 'property_value',
 'total_units',
 'debt_to_income_ratio',
 'applicant_age',
 'co_applicant_age']

In [12]:
numerical_columns = rows_without_missing_values.select_dtypes(include=['float64', 'int64']).columns.tolist()
numerical_columns

['census_tract',
 'action_taken',
 'loan_type',
 'lien_status',
 'reverse_mortgage',
 'open_end_line_of_credit',
 'loan_amount',
 'negative_amortization',
 'interest_only_payment',
 'balloon_payment',
 'other_nonamortizing_features',
 'occupancy_type',
 'manufactured_home_secured_property_type',
 'manufactured_home_land_property_interest',
 'income',
 'applicant_credit_score_type',
 'co_applicant_credit_score_type',
 'applicant_ethnicity_1',
 'co_applicant_ethnicity_1',
 'applicant_race_1',
 'applicant_race_2',
 'co_applicant_race_1',
 'co_applicant_race_2',
 'applicant_sex',
 'co_applicant_sex',
 'aus_1']

In [13]:
rows_without_missing_values['action_taken'].value_counts()

action_taken
1    275989
3     83560
6       441
4       205
2        49
5        19
8        14
7         4
Name: count, dtype: int64

In [14]:
# Filter rows to keep only categories 1 and 3
df = rows_without_missing_values[rows_without_missing_values['action_taken'].isin([1, 3])]

# Calculate the counts for each category using len
category_1_count = len(df[df['action_taken'] == 1])
category_3_count = len(df[df['action_taken'] == 3])

# Ensure that counts are the same for categories 1 and 3
if category_1_count != category_3_count:
    if category_1_count > category_3_count:
        # Randomly sample rows from category 1 to match the count of category 3
        category_1_rows = df[df['action_taken'] == 1]
        sampled_rows = category_1_rows.sample(n=category_3_count, random_state=1)
        df = pd.concat([df[df['action_taken'] == 3], sampled_rows])
    elif category_3_count > category_1_count:
        # Randomly sample rows from category 3 to match the count of category 1
        category_3_rows = df[df['action_taken'] == 3]
        sampled_rows = category_3_rows.sample(n=category_1_count, random_state=1)
        df = pd.concat([df[df['action_taken'] == 1], sampled_rows])
# Now, df contains the same number of values in categories 1 and 3
df['action_taken'].value_counts()

action_taken
3    83560
1    83560
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167120 entries, 0 to 343818
Data columns (total 36 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              167000 non-null  float64
 1   action_taken                              167120 non-null  int64
 2   loan_type                                 167120 non-null  int64
 3   lien_status                               167120 non-null  int64
 4   reverse_mortgage                          167120 non-null  int64
 5   open_end_line_of_credit                   167120 non-null  int64
 6   loan_amount                               167120 non-null  int64
 7   combined_loan_to_value_ratio              165765 non-null  object
 8   interest_rate                             83715 non-null   object
 9   total_loan_costs                          83715 non-null   object
 10  origination_charges                       83715 non-null   object
 11  loan_term                                 167048 non-null  object
 12  negative_amortization                     167120 non-null  int64
 13  interest_only_payment                     167120 non-null  int64
 14  balloon_payment                           167120 non-null  int64
 15  other_nonamortizing_features              167120 non-null  int64
 16  property_value                            166943 non-null  object
 17  occupancy_type                            167120 non-null  int64
 18  manufactured_home_secured_property_type   167120 non-null  int64
 19  manufactured_home_land_property_interest  167120 non-null  int64
 20  total_units                               167120 non-null  object
 21  income                                    161244 non-null  float64
 22  debt_to_income_ratio                      165066 non-null  object
 23  applicant_credit_score_type               167120 non-null  int64
 24  co_applicant_credit_score_type            167120 non-null  int64
 25  applicant_ethnicity_1                     166191 non-null  float64
 26  co_applicant_ethnicity_1                  166797 non-null  float64
 27  applicant_race_1                          166817 non-null  float64
 28  applicant_race_2                          9293 non-null    float64
 29  co_applicant_race_1                       167027 non-null  float64
 30  co_applicant_race_2                       4268 non-null    float64
 31  applicant_sex                             167120 non-null  int64
 32  co_applicant_sex                          167120 non-null  int64
 33  applicant_age                             167120 non-null  object
 34  co_applicant_age                          167120 non-null  object
 35  aus_1                                     167120 non-null  int64
dtypes: float64(8), int64(18), object(10)
memory usage: 47.2+ MB

In [17]:
df.to_csv('1_downloaded_data.csv', index=False)