In [1]:
import pandas as pd

In [2]:
url = 'https://s3.amazonaws.com/cfpb-hmda-public/prod/three-year-data/2019/2019_public_lar_three_year_csv.zip'
# See information about data fields of the original dataset here:
# https://ffiec.cfpb.gov/documentation/publications/loan-level-datasets/lar-data-fields

num_rows_to_read = 800000

# 'loan_purpose': condition, 'business or commercial_purpose, condition two is home owners.
condition = lambda x: x == 1
condition2 = lambda x: x == 2

# List of column names we want to read:
columns_to_read = [
'loan_type',
'loan_amount',
'action_taken',
'occupancy_type',
'census_tract',
'applicant_ethnicity_1',
'co_applicant_ethnicity_1',
'applicant_race_1',
'co_applicant_race_1',
'applicant_sex',
'co_applicant_sex',
'applicant_age',
'co_applicant_age',
'income',
'lien_status',
'applicant_credit_score_type',
'co_applicant_credit_score_type',
'origination_charges',
'interest_rate',
'debt_to_income_ratio',
'combined_loan_to_value_ratio',
'loan_term',
'property_value',
'manufactured_home_secured_property_type',
'total_units',
'reverse_mortgage',
'open_end_line_of_credit',
'manufactured_home_land_property_interest',
'total_loan_costs',
'negative_amortization',
'interest_only_payment',
'balloon_payment',
'other_nonamortizing_features',
    
'co_applicant_race_2', # Need those for the EDA in '3', remove later.
'applicant_race_2'  # Need those for the EDA in '3', remove later.
]

# Read the CSV file with the specified columns
data = pd.read_csv(url, usecols=columns_to_read, nrows=num_rows_to_read, converters={'loan_purpose': condition, 'business_or_commercial_purpose': condition2}, low_memory=False)

In [3]:
data.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age
0,9.003416e+09,3,2,1,2,2,115000,98.188,NaN,NaN,...,2.0,5.0,3.0,NaN,8.0,NaN,1,5,35-44,9999
1,4.201710e+10,2,1,1,2,2,345000,79.254,3.5,NaN,...,2.0,2.0,6.0,NaN,6.0,NaN,1,2,45-54,55-64
2,3.403903e+10,5,2,1,2,2,225000,NaN,NaN,NaN,...,1.0,1.0,5.0,NaN,5.0,NaN,1,2,45-54,45-54
3,4.205501e+10,5,2,1,2,2,125000,NaN,NaN,NaN,...,2.0,5.0,5.0,NaN,8.0,NaN,2,5,65-74,9999
4,3.011100e+10,5,1,1,2,2,125000,NaN,NaN,NaN,...,2.0,5.0,5.0,NaN,8.0,NaN,2,5,55-64,9999

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 35 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              796991 non-null  float64
 1   action_taken                              800000 non-null  int64
 2   loan_type                                 800000 non-null  int64
 3   lien_status                               800000 non-null  int64
 4   reverse_mortgage                          800000 non-null  int64
 5   open_end_line_of_credit                   800000 non-null  int64
 6   loan_amount                               800000 non-null  int64
 7   combined_loan_to_value_ratio              431834 non-null  object
 8   interest_rate                             574691 non-null  object
 9   total_loan_costs                          546909 non-null  object
 10  origination_charges                       561139 non-null  object
 11  loan_term                                 799413 non-null  object
 12  negative_amortization                     800000 non-null  int64
 13  interest_only_payment                     800000 non-null  int64
 14  balloon_payment                           800000 non-null  int64
 15  other_nonamortizing_features              800000 non-null  int64
 16  property_value                            664300 non-null  object
 17  occupancy_type                            800000 non-null  int64
 18  manufactured_home_secured_property_type   800000 non-null  int64
 19  manufactured_home_land_property_interest  800000 non-null  int64
 20  total_units                               800000 non-null  object
 21  income                                    762555 non-null  float64
 22  debt_to_income_ratio                      430952 non-null  object
 23  applicant_credit_score_type               800000 non-null  int64
 24  co_applicant_credit_score_type            800000 non-null  int64
 25  applicant_ethnicity_1                     797785 non-null  float64
 26  co_applicant_ethnicity_1                  799219 non-null  float64
 27  applicant_race_1                          799280 non-null  float64
 28  applicant_race_2                          43789 non-null   float64
 29  co_applicant_race_1                       799748 non-null  float64
 30  co_applicant_race_2                       20007 non-null   float64
 31  applicant_sex                             800000 non-null  int64
 32  co_applicant_sex                          800000 non-null  int64
 33  applicant_age                             800000 non-null  object
 34  co_applicant_age                          800000 non-null  object
dtypes: float64(8), int64(17), object(10)
memory usage: 213.6+ MB

In [1]:
print(df['applicant_credit_score_type'].value_counts())

NameError: name 'df' is not defined

## Check target variable for 'enough' data.

In [5]:
# we want enough data in the target column in the categories 1 and 3. at least 30% in category 3.
data['action_taken'].value_counts()

action_taken
1    343131
6    226679
4    126138
3     91898
5      6775
2      4322
8       948
7       109
Name: count, dtype: int64

In [6]:
df_test = data.copy()

In [7]:
# Create a Boolean mask to identify rows with missing values in 'object' columns
missing_values_mask = df_test.select_dtypes(include=['object']).isna().any(axis=1)

# Create a Boolean mask to identify rows without missing values in 'object' columns or with 'action_taken' equal to 3
no_missing_values_mask = ~missing_values_mask | (df_test['action_taken'] == 3)

# Use the mask to filter the DataFrame and get rows without missing values in 'object' columns, or with 'action_taken' equal to 3
rows_without_missing_values = df_test[no_missing_values_mask]

# Print the number of rows without missing values in 'object' columns or with 'action_taken' equal to 3
print(len(rows_without_missing_values))

407427

In [8]:
data['action_taken'].value_counts()

action_taken
1    343131
6    226679
4    126138
3     91898
5      6775
2      4322
8       948
7       109
Name: count, dtype: int64

In [9]:
rows_without_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407427 entries, 0 to 799999
Data columns (total 35 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              406815 non-null  float64
 1   action_taken                              407427 non-null  int64
 2   loan_type                                 407427 non-null  int64
 3   lien_status                               407427 non-null  int64
 4   reverse_mortgage                          407427 non-null  int64
 5   open_end_line_of_credit                   407427 non-null  int64
 6   loan_amount                               407427 non-null  int64
 7   combined_loan_to_value_ratio              404749 non-null  object
 8   interest_rate                             315885 non-null  object
 9   total_loan_costs                          315885 non-null  object
 10  origination_charges                       315885 non-null  object
 11  loan_term                                 407349 non-null  object
 12  negative_amortization                     407427 non-null  int64
 13  interest_only_payment                     407427 non-null  int64
 14  balloon_payment                           407427 non-null  int64
 15  other_nonamortizing_features              407427 non-null  int64
 16  property_value                            406301 non-null  object
 17  occupancy_type                            407427 non-null  int64
 18  manufactured_home_secured_property_type   407427 non-null  int64
 19  manufactured_home_land_property_interest  407427 non-null  int64
 20  total_units                               407427 non-null  object
 21  income                                    391007 non-null  float64
 22  debt_to_income_ratio                      404735 non-null  object
 23  applicant_credit_score_type               407427 non-null  int64
 24  co_applicant_credit_score_type            407427 non-null  int64
 25  applicant_ethnicity_1                     405995 non-null  float64
 26  co_applicant_ethnicity_1                  406924 non-null  float64
 27  applicant_race_1                          406951 non-null  float64
 28  applicant_race_2                          22145 non-null   float64
 29  co_applicant_race_1                       407255 non-null  float64
 30  co_applicant_race_2                       10825 non-null   float64
 31  applicant_sex                             407427 non-null  int64
 32  co_applicant_sex                          407427 non-null  int64
 33  applicant_age                             407427 non-null  object
 34  co_applicant_age                          407427 non-null  object
dtypes: float64(8), int64(17), object(10)
memory usage: 111.9+ MB

In [10]:
rows_without_missing_values.head()

,census_tract,action_taken,loan_type,lien_status,reverse_mortgage,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,...,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age
0,9.003416e+09,3,2,1,2,2,115000,98.188,NaN,NaN,...,2.0,5.0,3.0,NaN,8.0,NaN,1,5,35-44,9999
7,4.209120e+10,1,1,1,2,2,355000,75.822,4.25,8352.71,...,2.0,2.0,5.0,NaN,5.0,NaN,1,2,35-44,>74
8,6.067006e+09,1,1,1,2,2,265000,77.612,3.5,1983.0,...,2.0,5.0,5.0,NaN,8.0,NaN,2,5,45-54,9999
13,5.513320e+10,1,2,1,2,2,285000,84.777,4.125,6854.68,...,2.0,2.0,5.0,NaN,5.0,NaN,1,2,35-44,35-44
16,5.513320e+10,1,1,1,2,2,295000,95.0,3.5,4700.6,...,2.0,5.0,5.0,NaN,8.0,NaN,2,5,35-44,9999

In [11]:
categorical_columns = rows_without_missing_values.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['combined_loan_to_value_ratio',
 'interest_rate',
 'total_loan_costs',
 'origination_charges',
 'loan_term',
 'property_value',
 'total_units',
 'debt_to_income_ratio',
 'applicant_age',
 'co_applicant_age']

In [12]:
numerical_columns = rows_without_missing_values.select_dtypes(include=['float64', 'int64']).columns.tolist()
numerical_columns

['census_tract',
 'action_taken',
 'loan_type',
 'lien_status',
 'reverse_mortgage',
 'open_end_line_of_credit',
 'loan_amount',
 'negative_amortization',
 'interest_only_payment',
 'balloon_payment',
 'other_nonamortizing_features',
 'occupancy_type',
 'manufactured_home_secured_property_type',
 'manufactured_home_land_property_interest',
 'income',
 'applicant_credit_score_type',
 'co_applicant_credit_score_type',
 'applicant_ethnicity_1',
 'co_applicant_ethnicity_1',
 'applicant_race_1',
 'applicant_race_2',
 'co_applicant_race_1',
 'co_applicant_race_2',
 'applicant_sex',
 'co_applicant_sex']

In [13]:
rows_without_missing_values['action_taken'].value_counts()

action_taken
1    312145
3     91898
6      2850
4       324
2        96
8        51
5        41
7        22
Name: count, dtype: int64

In [14]:
# Filter rows to keep only categories 1 and 3
df = rows_without_missing_values[rows_without_missing_values['action_taken'].isin([1, 3])]

# Calculate the counts for each category using len
category_1_count = len(df[df['action_taken'] == 1])
category_3_count = len(df[df['action_taken'] == 3])

# Ensure that counts are the same for categories 1 and 3
if category_1_count != category_3_count:
    if category_1_count > category_3_count:
        # Randomly sample rows from category 1 to match the count of category 3
        category_1_rows = df[df['action_taken'] == 1]
        sampled_rows = category_1_rows.sample(n=category_3_count, random_state=1)
        df = pd.concat([df[df['action_taken'] == 3], sampled_rows])
    elif category_3_count > category_1_count:
        # Randomly sample rows from category 3 to match the count of category 1
        category_3_rows = df[df['action_taken'] == 3]
        sampled_rows = category_3_rows.sample(n=category_1_count, random_state=1)
        df = pd.concat([df[df['action_taken'] == 1], sampled_rows])
# Now, df contains the same number of values in categories 1 and 3
df['action_taken'].value_counts()

action_taken
3    91898
1    91898
Name: count, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183796 entries, 0 to 624664
Data columns (total 35 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              183391 non-null  float64
 1   action_taken                              183796 non-null  int64
 2   loan_type                                 183796 non-null  int64
 3   lien_status                               183796 non-null  int64
 4   reverse_mortgage                          183796 non-null  int64
 5   open_end_line_of_credit                   183796 non-null  int64
 6   loan_amount                               183796 non-null  int64
 7   combined_loan_to_value_ratio              181118 non-null  object
 8   interest_rate                             92254 non-null   object
 9   total_loan_costs                          92254 non-null   object
 10  origination_charges                       92254 non-null   object
 11  loan_term                                 183718 non-null  object
 12  negative_amortization                     183796 non-null  int64
 13  interest_only_payment                     183796 non-null  int64
 14  balloon_payment                           183796 non-null  int64
 15  other_nonamortizing_features              183796 non-null  int64
 16  property_value                            182670 non-null  object
 17  occupancy_type                            183796 non-null  int64
 18  manufactured_home_secured_property_type   183796 non-null  int64
 19  manufactured_home_land_property_interest  183796 non-null  int64
 20  total_units                               183796 non-null  object
 21  income                                    177054 non-null  float64
 22  debt_to_income_ratio                      181104 non-null  object
 23  applicant_credit_score_type               183796 non-null  int64
 24  co_applicant_credit_score_type            183796 non-null  int64
 25  applicant_ethnicity_1                     182867 non-null  float64
 26  co_applicant_ethnicity_1                  183479 non-null  float64
 27  applicant_race_1                          183490 non-null  float64
 28  applicant_race_2                          9733 non-null    float64
 29  co_applicant_race_1                       183697 non-null  float64
 30  co_applicant_race_2                       4412 non-null    float64
 31  applicant_sex                             183796 non-null  int64
 32  co_applicant_sex                          183796 non-null  int64
 33  applicant_age                             183796 non-null  object
 34  co_applicant_age                          183796 non-null  object
dtypes: float64(8), int64(17), object(10)
memory usage: 50.5+ MB

In [16]:
df.to_csv('1_downloaded_data.csv', index=False)