In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 3

In [2]:
df = pd.read_csv('3_distribution_race_ethnicity.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279114 entries, 0 to 279113
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              279097 non-null  float64
 1   action_taken                              279114 non-null  int64
 2   loan_type                                 279114 non-null  int64
 3   lien_status                               279114 non-null  int64
 4   reverse_mortgage                          279114 non-null  int64
 5   open_end_line_of_credit                   279114 non-null  int64
 6   loan_amount                               279114 non-null  int64
 7   combined_loan_to_value_ratio              278275 non-null  object
 8   interest_rate                             209127 non-null  object
 9   total_loan_costs                          209127 non-null  object
 10  origination_charges                       209127 non-null  object
 11  loan_term                                 279106 non-null  object
 12  negative_amortization                     279114 non-null  int64
 13  interest_only_payment                     279114 non-null  int64
 14  balloon_payment                           279114 non-null  int64
 15  other_nonamortizing_features              279114 non-null  int64
 16  property_value                            279088 non-null  object
 17  occupancy_type                            279114 non-null  int64
 18  manufactured_home_secured_property_type   279114 non-null  int64
 19  manufactured_home_land_property_interest  279114 non-null  int64
 20  total_units                               279114 non-null  int64
 21  income                                    268561 non-null  float64
 22  debt_to_income_ratio                      277596 non-null  object
 23  applicant_credit_score_type               279114 non-null  int64
 24  co_applicant_credit_score_type            279114 non-null  int64
 25  applicant_sex                             279114 non-null  int64
 26  co_applicant_sex                          279114 non-null  int64
 27  applicant_age                             279114 non-null  object
 28  co_applicant_age                          279114 non-null  object
 29  aus_1                                     279114 non-null  int64
 30  applicant_race_1                          224921 non-null  float64
 31  co_applicant_race_1                       109161 non-null  float64
 32  applicant_ethnicity_1                     255821 non-null  float64
 33  co_applicant_ethnicity_1                  125633 non-null  float64
dtypes: float64(6), int64(19), object(9)
memory usage: 72.4+ MB

# debt_to_income_ratio
Need new categories.inconsisten scale.

- <20%      
- 20% - <30%   
- 30% - <36%   
- (new) 36% - <40%
- (new) 40% - < 50%
- 50% - 60%    
- >60%

In [4]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
20%-<30%    59017
30%-<36%    51658
<20%        22134
>60%        16521
50%-60%     11868
44          11425
43          10120
42          10042
39           9953
41           9789
40           9567
38           9540
37           9413
36           9202
49           6009
48           5352
45           5336
46           5259
47           5179
Exempt        212
Name: count, dtype: int64

In [5]:
# Define a function to categorize debt to income ratio
def categorize_ratio(ratio):
    if ratio in ['36', '37','38','39','40', '41', '42', '43', '44', '45', '46', '47', '48', '49']:
        return '36%-50%'
    return ratio

# Apply the categorization function to 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].apply(categorize_ratio)

df['debt_to_income_ratio'].value_counts()

debt_to_income_ratio
36%-50%     116186
20%-<30%     59017
30%-<36%     51658
<20%         22134
>60%         16521
50%-60%      11868
Exempt         212
Name: count, dtype: int64

# applicant_age

In [6]:
print(df['applicant_age'].value_counts())

applicant_age
35-44    72558
45-54    68978
55-64    51750
25-34    45578
65-74    27126
>74       8873
<25       4248
8888         3
Name: count, dtype: int64

Remove 8888 category

In [7]:
encoder = LabelEncoder()

df['applicant_age'] = encoder.fit_transform(df['applicant_age'])
df_encoded = df[df['applicant_age'] != 5]

# Display the value counts after excluding the '8888' category
print(df_encoded['applicant_age'].value_counts())

applicant_age
1    72558
2    68978
3    51750
0    45578
4    27126
7     8873
6     4248
Name: count, dtype: int64

In [8]:
print(df['co_applicant_age'].value_counts())

co_applicant_age
9999     141614
35-44     35825
45-54     32244
55-64     25262
25-34     24934
65-74     13688
>74        3609
<25        1938
Name: count, dtype: int64

In [9]:
df['co_applicant_age'] = encoder.fit_transform(df['co_applicant_age'])
df_encoded = df[df['co_applicant_age'] != 5]

# Display the value counts after excluding the '8888' category
print(df_encoded['applicant_age'].value_counts())

applicant_age
1    36156
2    32858
3    25465
0    22365
4    14570
7     4450
6     1633
5        3
Name: count, dtype: int64

In [10]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137500 entries, 1 to 279110
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   census_tract                              137495 non-null  float64
 1   action_taken                              137500 non-null  int64
 2   loan_type                                 137500 non-null  int64
 3   lien_status                               137500 non-null  int64
 4   reverse_mortgage                          137500 non-null  int64
 5   open_end_line_of_credit                   137500 non-null  int64
 6   loan_amount                               137500 non-null  int64
 7   combined_loan_to_value_ratio              137205 non-null  object
 8   interest_rate                             110512 non-null  object
 9   total_loan_costs                          110512 non-null  object
 10  origination_charges                       110512 non-null  object
 11  loan_term                                 137497 non-null  object
 12  negative_amortization                     137500 non-null  int64
 13  interest_only_payment                     137500 non-null  int64
 14  balloon_payment                           137500 non-null  int64
 15  other_nonamortizing_features              137500 non-null  int64
 16  property_value                            137490 non-null  object
 17  occupancy_type                            137500 non-null  int64
 18  manufactured_home_secured_property_type   137500 non-null  int64
 19  manufactured_home_land_property_interest  137500 non-null  int64
 20  total_units                               137500 non-null  int64
 21  income                                    131944 non-null  float64
 22  debt_to_income_ratio                      136918 non-null  object
 23  applicant_credit_score_type               137500 non-null  int64
 24  co_applicant_credit_score_type            137500 non-null  int64
 25  applicant_sex                             137500 non-null  int64
 26  co_applicant_sex                          137500 non-null  int64
 27  applicant_age                             137500 non-null  int32
 28  co_applicant_age                          137500 non-null  int32
 29  aus_1                                     137500 non-null  int64
 30  applicant_race_1                          111339 non-null  float64
 31  co_applicant_race_1                       109161 non-null  float64
 32  applicant_ethnicity_1                     126954 non-null  float64
 33  co_applicant_ethnicity_1                  125633 non-null  float64
dtypes: float64(6), int32(2), int64(19), object(7)
memory usage: 35.7+ MB

In [11]:
df_encoded.to_csv('4_debt_to_income_ratio_and_applicant_age.csv', index=False)