# Imports

In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 3

In [2]:
df = pd.read_csv('3_distribution_race_ethnicity.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62934 entries, 0 to 62933
Data columns (total 33 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   action_taken                              62934 non-null  int64
 1   loan_type                                 62934 non-null  int64
 2   lien_status                               62934 non-null  int64
 3   open_end_line_of_credit                   62934 non-null  int64
 4   loan_amount                               62934 non-null  int64
 5   combined_loan_to_value_ratio              61762 non-null  object
 6   interest_rate                             36829 non-null  object
 7   total_loan_costs                          36829 non-null  object
 8   origination_charges                       36829 non-null  object
 9   loan_term                                 62886 non-null  object
 10  negative_amortization                     62934 non-null  int64
 11  interest_only_payment                     62934 non-null  int64
 12  balloon_payment                           62934 non-null  int64
 13  other_nonamortizing_features              62934 non-null  int64
 14  property_value                            62092 non-null  object
 15  occupancy_type                            62934 non-null  int64
 16  manufactured_home_secured_property_type   62934 non-null  int64
 17  manufactured_home_land_property_interest  62934 non-null  int64
 18  total_units                               62934 non-null  object
 19  income                                    60833 non-null  float64
 20  debt_to_income_ratio                      62258 non-null  object
 21  applicant_credit_score_type               62934 non-null  int64
 22  co_applicant_credit_score_type            62934 non-null  int64
 23  applicant_ethnicity_1                     62934 non-null  float64
 24  co_applicant_ethnicity_1                  62934 non-null  float64
 25  applicant_race_1                          62934 non-null  float64
 26  applicant_race_2                          228 non-null    float64
 27  co_applicant_race_1                       62934 non-null  float64
 28  co_applicant_race_2                       236 non-null    float64
 29  applicant_sex                             62934 non-null  int64
 30  co_applicant_sex                          62934 non-null  int64
 31  applicant_age                             62934 non-null  object
 32  co_applicant_age                          62934 non-null  object
dtypes: float64(7), int64(16), object(10)
memory usage: 15.8+ MB

# debt_to_income_ratio
Need new categories.inconsisten scale.

- <20%      
- 20% - <30%   
- 30% - <36%   
- (new) 36% - <40%
- (new) 40% - < 50%
- 50% - 60%    
- >60%

In [4]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
20%-<30%    13237
30%-<36%    10766
<20%         5174
>60%         4867
50%-60%      4182
44           2151
42           1976
41           1946
39           1944
43           1902
36           1898
40           1869
38           1865
37           1828
49           1304
45           1200
48           1194
46           1143
47           1115
Exempt        697
Name: count, dtype: int64

In [5]:
# Define a function to categorize debt to income ratio
def categorize_ratio(ratio):
    if ratio in ['36', '37','38','39','40', '41', '42', '43', '44', '45', '46', '47', '48', '49']:
        return '36%-50%'
    return ratio

# Apply the categorization function to 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].apply(categorize_ratio)

df['debt_to_income_ratio'].value_counts()

debt_to_income_ratio
36%-50%     23335
20%-<30%    13237
30%-<36%    10766
<20%         5174
>60%         4867
50%-60%      4182
Exempt        697
Name: count, dtype: int64

# applicant_age

In [6]:
print(df['applicant_age'].value_counts())

applicant_age
45-54    15040
35-44    14882
55-64    12517
25-34     9581
65-74     7476
>74       2495
<25        941
8888         2
Name: count, dtype: int64

Remove 8888 category

In [7]:
encoder = LabelEncoder()

df['applicant_age'] = encoder.fit_transform(df['applicant_age'])
df_encoded = df[df['applicant_age'] != 5]

# Display the value counts after excluding the '8888' category
print(df_encoded['applicant_age'].value_counts())

applicant_age
2    15040
1    14882
3    12517
0     9581
4     7476
7     2495
6      941
Name: count, dtype: int64

C:\Users\asche\anaconda3\envs\jupyterlab\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\asche\anaconda3\envs\jupyterlab\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [8]:
print(df['co_applicant_age'].value_counts())

co_applicant_age
35-44    14880
45-54    14862
55-64    12461
25-34    10357
65-74     7141
>74       2032
<25       1199
8888         2
Name: count, dtype: int64

In [9]:
df['co_applicant_age'] = encoder.fit_transform(df['co_applicant_age'])
df_encoded = df[df['co_applicant_age'] != 5]

# Display the value counts after excluding the '8888' category
print(df_encoded['co_applicant_age'].value_counts())

co_applicant_age
1    14880
2    14862
3    12461
0    10357
4     7141
7     2032
6     1199
Name: count, dtype: int64

C:\Users\asche\anaconda3\envs\jupyterlab\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\asche\anaconda3\envs\jupyterlab\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [10]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62932 entries, 0 to 62933
Data columns (total 33 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   action_taken                              62932 non-null  int64
 1   loan_type                                 62932 non-null  int64
 2   lien_status                               62932 non-null  int64
 3   open_end_line_of_credit                   62932 non-null  int64
 4   loan_amount                               62932 non-null  int64
 5   combined_loan_to_value_ratio              61760 non-null  object
 6   interest_rate                             36829 non-null  object
 7   total_loan_costs                          36829 non-null  object
 8   origination_charges                       36829 non-null  object
 9   loan_term                                 62884 non-null  object
 10  negative_amortization                     62932 non-null  int64
 11  interest_only_payment                     62932 non-null  int64
 12  balloon_payment                           62932 non-null  int64
 13  other_nonamortizing_features              62932 non-null  int64
 14  property_value                            62090 non-null  object
 15  occupancy_type                            62932 non-null  int64
 16  manufactured_home_secured_property_type   62932 non-null  int64
 17  manufactured_home_land_property_interest  62932 non-null  int64
 18  total_units                               62932 non-null  object
 19  income                                    60831 non-null  float64
 20  debt_to_income_ratio                      62257 non-null  object
 21  applicant_credit_score_type               62932 non-null  int64
 22  co_applicant_credit_score_type            62932 non-null  int64
 23  applicant_ethnicity_1                     62932 non-null  float64
 24  co_applicant_ethnicity_1                  62932 non-null  float64
 25  applicant_race_1                          62932 non-null  float64
 26  applicant_race_2                          228 non-null    float64
 27  co_applicant_race_1                       62932 non-null  float64
 28  co_applicant_race_2                       236 non-null    float64
 29  applicant_sex                             62932 non-null  int64
 30  co_applicant_sex                          62932 non-null  int64
 31  applicant_age                             62932 non-null  int32
 32  co_applicant_age                          62932 non-null  int32
dtypes: float64(7), int32(2), int64(16), object(8)
memory usage: 15.8+ MB

In [11]:
df_encoded.to_csv('4_debt_to_income_ratio_and_applicant_age.csv', index=False)