In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from itertools import product
import matplotlib.pyplot as plt

# load dataset 3

In [2]:
df = pd.read_csv('3_distribution_race_ethnicity.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190082 entries, 0 to 190081
Data columns (total 76 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             190082 non-null  int64
 1   lei                                       190082 non-null  object
 2   derived_msa_md                            10838 non-null   float64
 3   state_code                                190024 non-null  object
 4   county_code                               190014 non-null  float64
 5   census_tract                              190014 non-null  float64
 6   conforming_loan_limit                     190065 non-null  object
 7   derived_loan_product_type                 190082 non-null  object
 8   derived_dwelling_category                 190082 non-null  object
 9   action_taken                              190082 non-null  int64
 10  purchaser_type                            190082 non-null  int64
 11  preapproval                               190082 non-null  int64
 12  loan_type                                 190082 non-null  int64
 13  loan_purpose                              190082 non-null  bool
 14  lien_status                               190082 non-null  int64
 15  reverse_mortgage                          190082 non-null  int64
 16  open_end_line_of_credit                   190082 non-null  int64
 17  business_or_commercial_purpose            190082 non-null  bool
 18  loan_amount                               190082 non-null  int64
 19  combined_loan_to_value_ratio              141881 non-null  object
 20  interest_rate                             117691 non-null  object
 21  rate_spread                               113282 non-null  object
 22  hoepa_status                              190082 non-null  int64
 23  total_loan_costs                          113787 non-null  object
 24  total_points_and_fees                     302 non-null     object
 25  origination_charges                       115942 non-null  object
 26  discount_points                           28357 non-null   object
 27  lender_credits                            60714 non-null   object
 28  loan_term                                 189817 non-null  object
 29  prepayment_penalty_term                   303 non-null     object
 30  intro_rate_period                         15481 non-null   object
 31  negative_amortization                     190082 non-null  int64
 32  interest_only_payment                     190082 non-null  int64
 33  balloon_payment                           190082 non-null  int64
 34  other_nonamortizing_features              190082 non-null  int64
 35  property_value                            147001 non-null  object
 36  construction_method                       190082 non-null  int64
 37  occupancy_type                            190082 non-null  int64
 38  manufactured_home_secured_property_type   190082 non-null  int64
 39  manufactured_home_land_property_interest  190082 non-null  int64
 40  total_units                               190082 non-null  object
 41  multifamily_affordable_units              302 non-null     object
 42  income                                    181950 non-null  float64
 43  debt_to_income_ratio                      142255 non-null  object
 44  applicant_credit_score_type               190082 non-null  int64
 45  co_applicant_credit_score_type            190082 non-null  int64
 46  applicant_sex                             190082 non-null  int64
 47  co_applicant_sex                          190082 non-null  int64
 48  applicant_age                             190082 non-null  object
 49  co_applicant_age                          190082 non-null  object
 50  applicant_age_above_62                    189854 non-null  object
 51  co_applicant_age_above_62                 88058 non-null   object
 52  submission_of_application                 190082 non-null  int64
 53  initially_payable_to_institution          190082 non-null  int64
 54  aus_1                                     190082 non-null  int64
 55  aus_2                                     48417 non-null   float64
 56  aus_3                                     38363 non-null   float64
 57  aus_4                                     0 non-null       float64
 58  aus_5                                     8 non-null       float64
 59  denial_reason_1                           190082 non-null  int64
 60  denial_reason_2                           11280 non-null   float64
 61  denial_reason_3                           1649 non-null    float64
 62  denial_reason_4                           134 non-null     float64
 63  tract_population                          190082 non-null  int64
 64  tract_minority_population_percent         190082 non-null  float64
 65  ffiec_msa_md_median_family_income         190082 non-null  int64
 66  tract_to_msa_income_percentage            190082 non-null  float64
 67  tract_owner_occupied_units                190082 non-null  int64
 68  tract_one_to_four_family_homes            190082 non-null  int64
 69  tract_median_age_of_housing_units         190082 non-null  int64
 70  applicant_race_1                          148128 non-null  float64
 71  applicant_race_2                          1583 non-null    float64
 72  co_applicant_race_1                       69803 non-null   float64
 73  co_applicant_race_2                       591 non-null     float64
 74  applicant_ethnicity_1                     168803 non-null  float64
 75  co_applicant_ethnicity_1                  80690 non-null   float64
dtypes: bool(2), float64(19), int64(31), object(24)
memory usage: 107.7+ MB

# debt_to_income_ratio
Need new categories.inconsisten scale.

- <20%      
- 20% - <30%   
- 30% - <36%   
- (new) 36% - <40%
- (new) 40% - < 50%
- 50% - 60%    
- >60%

In [4]:
print(df['debt_to_income_ratio'].value_counts())

debt_to_income_ratio
20%-<30%    28099
30%-<36%    26387
<20%        10806
>60%         7176
50%-60%      6391
44           6201
43           5492
42           5434
40           5207
39           5197
41           5182
38           4998
37           4881
36           4757
49           3523
45           3089
48           3073
46           3056
47           3004
Exempt        302
Name: count, dtype: int64

In [5]:
# Define a function to categorize debt to income ratio
def categorize_ratio(ratio):
    if ratio in ['36', '37','38','39','40', '41', '42', '43', '44', '45', '46', '47', '48', '49']:
        return '36%-50%'
    return ratio

# Apply the categorization function to 'debt_to_income_ratio' column
df['debt_to_income_ratio'] = df['debt_to_income_ratio'].apply(categorize_ratio)

df['debt_to_income_ratio'].value_counts()

debt_to_income_ratio
36%-50%     63094
20%-<30%    28099
30%-<36%    26387
<20%        10806
>60%         7176
50%-60%      6391
Exempt        302
Name: count, dtype: int64

# applicant_age

In [6]:
print(df['applicant_age'].value_counts())

applicant_age
35-44    48815
45-54    45182
55-64    34348
25-34    32903
65-74    18722
>74       6329
<25       3555
8888       228
Name: count, dtype: int64

Remove 8888 category

In [7]:
encoder = LabelEncoder()

df['applicant_age'] = encoder.fit_transform(df['applicant_age'])
df_encoded = df[df['applicant_age'] != 5]

# Display the value counts after excluding the '8888' category
print(df_encoded['applicant_age'].value_counts())

applicant_age
1    48815
2    45182
3    34348
0    32903
4    18722
7     6329
6     3555
Name: count, dtype: int64

In [8]:
df_encoded.to_csv('4_debt_to_income_ratio_and_applicant_age.csv', index=False)