In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('final_dataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49670 entries, 0 to 49669
Data columns (total 34 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_tract                              49670 non-null  float64
 1   action_taken                              49670 non-null  float64
 2   loan_type                                 49670 non-null  float64
 3   lien_status                               49670 non-null  float64
 4   open_end_line_of_credit                   49670 non-null  float64
 5   loan_amount                               49670 non-null  float64
 6   combined_loan_to_value_ratio              49670 non-null  float64
 7   interest_rate                             49670 non-null  float64
 8   total_loan_costs                          49670 non-null  float64
 9   origination_charges                       49670 non-null  float64
 10  loan_term                                 49670 non-null  float64
 11  negative_amortization                     49670 non-null  float64
 12  interest_only_payment                     49670 non-null  float64
 13  balloon_payment                           49670 non-null  float64
 14  other_nonamortizing_features              49670 non-null  float64
 15  property_value                            49670 non-null  float64
 16  occupancy_type                            49670 non-null  float64
 17  manufactured_home_secured_property_type   49670 non-null  float64
 18  manufactured_home_land_property_interest  49670 non-null  float64
 19  total_units                               49670 non-null  float64
 20  income                                    49670 non-null  float64
 21  debt_to_income_ratio                      49670 non-null  float64
 22  applicant_credit_score_type               49670 non-null  float64
 23  co_applicant_credit_score_type            49670 non-null  float64
 24  applicant_ethnicity_1                     49670 non-null  float64
 25  co_applicant_ethnicity_1                  49670 non-null  float64
 26  applicant_race_1                          49670 non-null  float64
 27  applicant_race_2                          49670 non-null  float64
 28  co_applicant_race_1                       49670 non-null  float64
 29  co_applicant_race_2                       49670 non-null  float64
 30  applicant_sex                             49670 non-null  float64
 31  co_applicant_sex                          49670 non-null  float64
 32  applicant_age                             49670 non-null  float64
 33  co_applicant_age                          49670 non-null  float64
dtypes: float64(34)
memory usage: 12.9 MB

In [5]:
df

,census_tract,action_taken,loan_type,lien_status,open_end_line_of_credit,loan_amount,combined_loan_to_value_ratio,interest_rate,total_loan_costs,origination_charges,...,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,applicant_race_2,co_applicant_race_1,co_applicant_race_2,applicant_sex,co_applicant_sex,applicant_age,co_applicant_age
0,0.745178,1.0,0.666667,0.0,1.0,0.011765,1.000000,0.333333,0.352941,0.000000,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,1.000000,0.571429
1,0.861853,1.0,0.333333,0.0,1.0,0.008824,0.400000,0.333333,0.352941,0.000000,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.2,0.0,0.428571,0.428571
2,0.291341,1.0,0.333333,0.0,1.0,0.007059,0.466667,0.333333,0.352941,0.000000,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,0.571429,0.428571
3,0.799498,1.0,0.333333,0.0,1.0,0.002941,0.400000,0.333333,0.352941,0.000000,...,1.0,1.0,0.0,0.0,0.0,0.093023,0.0,0.2,0.285714,0.285714
4,0.745178,1.0,0.000000,0.0,1.0,0.020000,0.000000,0.333333,0.352941,0.000000,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,0.285714,0.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49665,0.090948,0.0,0.000000,0.0,1.0,0.015294,0.000000,0.444444,0.352941,0.000000,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,0.571429,0.428571
49666,0.636714,0.0,0.000000,0.0,1.0,0.136471,0.400000,0.111111,0.941176,0.428571,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,0.142857,0.142857
49667,0.002108,0.0,0.000000,0.0,1.0,0.010588,0.066667,0.333333,0.294118,0.857143,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.2,0.0,0.571429,0.571429
49668,0.436401,0.0,0.000000,0.0,1.0,0.021765,0.800000,0.222222,0.117647,0.142857,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.2,0.000000,0.000000
49669,0.528869,0.0,0.000000,0.0,1.0,0.008824,0.533333,0.444444,0.000000,0.285714,...,1.0,1.0,1.0,0.0,1.0,0.093023,0.0,0.0,0.142857,0.285714