In [33]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

## Load Data

In [3]:
df = pd.read_csv('dataset.csv', low_memory = False)

In [4]:
df.head()

,loan_type,loan_amount,action_taken,occupancy_type,census_tract,applicant_ethnicity_1,co_applicant_ethnicity_1,applicant_race_1,co_applicant_race_1,applicant_sex,...,total_units,aus_1,reverse_mortgage,open_end_line_of_credit,manufactured_home_land_property_interest,total_loan_costs,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features
0,1,355000,1,1,4.209120e+10,2.0,2.0,5.0,5.0,1,...,1,1,2,2,5,8352.71,2,2,2,2
1,1,265000,1,1,6.067006e+09,2.0,5.0,5.0,8.0,2,...,1,6,2,2,5,1983.0,2,2,2,2
2,2,285000,1,1,5.513320e+10,2.0,2.0,5.0,5.0,1,...,1,6,2,2,5,6854.68,2,2,2,2
3,1,295000,1,1,5.513320e+10,2.0,5.0,5.0,8.0,2,...,1,6,2,2,5,4700.6,2,2,2,2
4,1,475000,1,1,6.073010e+09,3.0,3.0,6.0,6.0,1,...,1,6,2,2,5,2288.0,2,2,2,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804666 entries, 0 to 804665
Data columns (total 34 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   loan_type                                 804666 non-null  int64
 1   loan_amount                               804666 non-null  int64
 2   action_taken                              804666 non-null  int64
 3   occupancy_type                            804666 non-null  int64
 4   census_tract                              804666 non-null  float64
 5   applicant_ethnicity_1                     804666 non-null  float64
 6   co_applicant_ethnicity_1                  804666 non-null  float64
 7   applicant_race_1                          804666 non-null  float64
 8   co_applicant_race_1                       804666 non-null  float64
 9   applicant_sex                             804666 non-null  int64
 10  co_applicant_sex                          804666 non-null  int64
 11  applicant_age                             804666 non-null  object
 12  co_applicant_age                          804666 non-null  object
 13  income                                    804666 non-null  float64
 14  lien_status                               804666 non-null  int64
 15  applicant_credit_score_type               804666 non-null  int64
 16  co_applicant_credit_score_type            804666 non-null  int64
 17  origination_charges                       804666 non-null  object
 18  interest_rate                             804666 non-null  object
 19  debt_to_income_ratio                      804666 non-null  object
 20  combined_loan_to_value_ratio              804666 non-null  object
 21  loan_term                                 804666 non-null  object
 22  property_value                            804666 non-null  object
 23  manufactured_home_secured_property_type   804666 non-null  int64
 24  total_units                               804666 non-null  object
 25  aus_1                                     804666 non-null  int64
 26  reverse_mortgage                          804666 non-null  int64
 27  open_end_line_of_credit                   804666 non-null  int64
 28  manufactured_home_land_property_interest  804666 non-null  int64
 29  total_loan_costs                          804666 non-null  object
 30  negative_amortization                     804666 non-null  int64
 31  interest_only_payment                     804666 non-null  int64
 32  balloon_payment                           804666 non-null  int64
 33  other_nonamortizing_features              804666 non-null  int64
dtypes: float64(6), int64(18), object(10)
memory usage: 208.7+ MB

In [9]:
df['applicant_ethnicity_1'].value_counts()

2.0     589626
3.0     148014
1.0      60039
14.0      3298
11.0      2246
12.0       843
13.0       421
4.0        179
Name: applicant_ethnicity_1, dtype: int64

In [17]:
#Remove 4.0 - not applicable and 3.0 - information not provided
df = df[df['applicant_ethnicity_1'] != 4.0 ]
df = df[df['applicant_ethnicity_1'] != 3.0]
df['applicant_ethnicity_1'].value_counts()

2.0     589626
1.0      60039
14.0      3298
11.0      2246
12.0       843
13.0       421
Name: applicant_ethnicity_1, dtype: int64

In [14]:
df['co_applicant_ethnicity_1'].value_counts()

5.0     340650
2.0     267558
1.0      25443
3.0      20325
14.0      1014
11.0       957
12.0       350
13.0       166
4.0         10
Name: co_applicant_ethnicity_1, dtype: int64

In [19]:
#Remove 3.0 and 4.0 from co_applicant_ethnicity_1 (same as applicant ethnicity). 
#Keep 5.0 as it is no co-applicant.

df = df[df['co_applicant_ethnicity_1'] != 4.0 ]
df = df[df['co_applicant_ethnicity_1'] != 3.0]
df['co_applicant_ethnicity_1'].value_counts()

5.0     340650
2.0     267558
1.0      25443
14.0      1014
11.0       957
12.0       350
13.0       166
Name: co_applicant_ethnicity_1, dtype: int64

In [20]:
df['applicant_race_1'].value_counts()

5.0     530082
2.0      42910
3.0      33573
6.0      15270
21.0      4248
1.0       3855
22.0      1507
4.0       1067
23.0      1048
27.0       946
25.0       484
26.0       465
44.0       308
24.0       231
41.0        61
42.0        34
7.0         25
43.0        24
Name: applicant_race_1, dtype: int64

In [21]:
# Remove 6.0 -information not provided and 7.0 -NA from applicant_race

df = df[df['applicant_race_1'] != 6.0 ]
df = df[df['applicant_race_1'] != 7.0]
df['applicant_race_1'].value_counts()

5.0     530082
2.0      42910
3.0      33573
21.0      4248
1.0       3855
22.0      1507
4.0       1067
23.0      1048
27.0       946
25.0       484
26.0       465
44.0       308
24.0       231
41.0        61
42.0        34
43.0        24
Name: applicant_race_1, dtype: int64

In [22]:
df['co_applicant_race_1'].value_counts()

8.0     331171
5.0     251366
2.0      20003
3.0       8722
6.0       2625
21.0      2075
1.0       1400
22.0       845
23.0       716
4.0        545
27.0       427
25.0       275
26.0       264
24.0       184
44.0       159
41.0        33
42.0        17
43.0        13
7.0          3
Name: co_applicant_race_1, dtype: int64

In [25]:
# Remove 6.0 -information not provided and 7.0 -NA from co_applicant_race

df = df[df['co_applicant_race_1'] != 6.0 ]
df = df[df['co_applicant_race_1'] != 7.0]
df['co_applicant_race_1'].value_counts()

8.0     331171
5.0     251366
2.0      20003
3.0       8722
21.0      2075
1.0       1400
22.0       845
23.0       716
4.0        545
27.0       427
25.0       275
26.0       264
24.0       184
44.0       159
41.0        33
42.0        17
43.0        13
Name: co_applicant_race_1, dtype: int64

In [26]:
df['applicant_sex'].value_counts()

1    418914
2    197636
3      1398
6       264
4         3
Name: applicant_sex, dtype: int64

In [27]:
# Remove 3 -information not provided, 4 -NA, 6 -Both from applicant_sex 
df = df[df['applicant_sex'] != 3]
df = df[df['applicant_sex'] != 4]
df = df[df['applicant_sex'] != 6]
df['applicant_sex'].value_counts()

1    418914
2    197636
Name: applicant_sex, dtype: int64

In [28]:
df['co_applicant_sex'].value_counts()

5    330175
2    214914
1     70851
3       428
6       173
4         9
Name: co_applicant_sex, dtype: int64

In [29]:
# Remove 3 -information not provided, 4 -NA, 6 -Both from applicant_sex 
df = df[df['co_applicant_sex'] != 3]
df = df[df['co_applicant_sex'] != 4]
df = df[df['co_applicant_sex'] != 6]
df['co_applicant_sex'].value_counts()

5    330175
2    214914
1     70851
Name: co_applicant_sex, dtype: int64

In [30]:
df['applicant_age'].value_counts()

35-44    158116
45-54    136362
25-34    127553
55-64    103725
65-74     56887
>74       16828
<25       16234
8888        235
Name: applicant_age, dtype: int64

In [35]:
#Age needs to be encoded then remove 8888
encoder = LabelEncoder()

In [36]:
df['applicant_age'] = encoder.fit_transform(df['applicant_age'])

In [37]:
df['applicant_age'].value_counts()

1    158116
2    136362
0    127553
3    103725
4     56887
7     16828
6     16234
5       235
Name: applicant_age, dtype: int64

In [38]:
df = df[df['applicant_age'] != 5]
df['applicant_age'].value_counts()

1    158116
2    136362
0    127553
3    103725
4     56887
7     16828
6     16234
Name: applicant_age, dtype: int64

In [39]:
df['co_applicant_age'].value_counts()

9999     329983
35-44     72527
25-34     60802
45-54     60316
55-64     49654
65-74     28701
>74        7042
<25        6625
8888         55
Name: co_applicant_age, dtype: int64

In [40]:
df['co_applicant_age'] = encoder.fit_transform(df['co_applicant_age'])
df['co_applicant_age'].value_counts()

6    329983
1     72527
0     60802
2     60316
3     49654
4     28701
8      7042
7      6625
5        55
Name: co_applicant_age, dtype: int64

In [41]:
df = df[df['co_applicant_age'] != 5]
df['co_applicant_age'].value_counts()

6    329983
1     72527
0     60802
2     60316
3     49654
4     28701
8      7042
7      6625
Name: co_applicant_age, dtype: int64

In [44]:
#Change income to reflect regular dollar amounts.
df['income'] = df['income'] * 1000

In [46]:
df['income'].head()

0    136000.0
1     60000.0
2    120000.0
3     91000.0
5    109000.0
Name: income, dtype: float64

In [48]:
df['applicant_credit_score_type'].value_counts()

1       196056
3       170132
2       146566
9        65587
1111     25151
7         5785
8         5281
5          787
4          304
6            1
Name: applicant_credit_score_type, dtype: int64

In [49]:
#Remove category 9 - NA and 1111 - Exempt

df['applicant_credit_score_type'] = df[df['applicant_credit_score_type'] != 9]
df['applicant_credit_score_type'] = df[df['applicant_credit_score_type'] != 1111]
df['applicant_credit_score_type'].value_counts()

ValueError: Columns must be same length as key